## Importing Required Libraries and dependencies.

In [77]:
#Import nessesary modules
import yfinance as yf
import pandas as pd
import json 
import numpy as np
import sqlite3
import streamlit as st

ModuleNotFoundError: No module named 'streamlit'

## Step 1: Propt the user to customize choice for analysis

### 1.1 Prompt the user about how much capital they wish to invest??? Is it needed or we can calculate mean() for each dollar invested ?
### !!! Create widget on Streamlit for the prompt!!!

In [78]:
#Ask user how much is the allocation for Equity Allocation
# Check the input 
while True:
    try:
        equity_allocation = float(input('Please enter the amount of capital you wish to invest :'))
        break
    except:
        print('Please enter a numerical value.')

Please enter the amount of capital you wish to invest : 1000

## 1.2 Prompt the user how many years of historical data they wish to pull for the analysis.
### !!! Create widget on Streamlit for the prompt!!!

In [79]:
# Prompt the user how many years of historical data they wish to pull for the analysis
# Check the input 
while True:
    try:
        num_years = int(input('Please enter the number of years (1-10) of historical data that you wish to retrieve for the analysis :'))
        break
    except:
        print('Please enter a numerical value.')

Please enter the number of years (1-10) of historical data that you wish to retrieve for the analysis : 10

## 1.3 Prompt the user to select assets from each asset class.
### ??? Does the number of assets in each asset class should be the same for correct analysis???

### !!! Create widget on Streamlit for the prompt!!!

## Step 2 : 
### Data Collection and Cleaning
The first step is to collect data for the 3 different assets - crypto, commodities, and stocks. Using **yfinance** library for Pandas pull data from the Yahoo finance API. The data pulled for each asset class would have 10 tickers. Store the data for each asset class in separate Pandas DataFrames.

In [80]:
# Define the lists of asset classes and their respective tickers. Set it as variables, so the selection can be changed easier if neded. 
### VARIATION 1
# crypto = ['BTC-USD', 'ETH-USD', 'DOGE-USD', 'MATIC-USD', 'AVAX-USD', 'SOL-USD', 'TRX-USD', 'ATOM-USD', 'UNI7083-USD', 'LINK-USD']
# stocks = ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC']
# commodities = ['GC=F', 'SI=F', 'CL=F', 'HG=F', 'LBS=F', 'ZS=F', 'GF=F', 'KE=F', 'CT=F', 'ZR=F']

# # Collect data for crypto asset class
# crypto_df = pd.DataFrame()
# for ticker in crypto:
#     crypto_df[ticker] = yf.download(ticker)['Close']

# # Collect data for stocks asset class
# stocks_df = pd.DataFrame()
# for ticker in stocks:
#     stocks_df[ticker] = yf.download(ticker)['Close']

# # Collect data for commodities asset class
# commodities_df = pd.DataFrame()
# for ticker in commodities:
#     commodities_df[ticker] = yf.download(ticker)['Close']

In [81]:
# crypto_df.head(200)
# The problem with crypto historic data is taht diferent start times of the data(begining of the trading period is diffferent for each crypto)

In [82]:
### VARIATION 2
# Define the a dictionary of lists for each asset class
# api_pull = {'crypto' : ['BTC-USD', 'ETH-USD', 'DOGE-USD', 'MATIC-USD', 'AVAX-USD', 'SOL-USD', 'TRX-USD', 'ATOM-USD', 'UNI7083-USD', 'LINK-USD']
#             ,'stocks' : ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC']
#             ,'commodities' : ['GC=F', 'SI=F', 'CL=F', 'HG=F', 'LBS=F', 'ZS=F', 'GF=F', 'KE=F', 'CT=F', 'ZR=F']
           
#            }

# # Store data for each asset class in a dictionary
# data = {}
# for asset_class in api_pull:
#     for ticker in api_pull[asset_class]:
#         data[asset] = pd.DataFrame(yf.download(asset, start='2010-01-10', end ='2023-01-01'))

In [83]:
# VARIATION 3
# Define the lists of asset classes and their respective tickers. Set it as variables, so the selection can be changed easier if neded.
api_pull = {'crypto' : ['BTC-USD', 'ETH-USD', 'DOGE-USD', 'MATIC-USD', 'AVAX-USD', 'SOL-USD', 'TRX-USD', 'ATOM-USD', 'UNI7083-USD', 'LINK-USD'],
            'stocks' : ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC'],
            'commodities' : ['GC=F', 'SI=F', 'CL=F', 'HG=F', 'LBS=F', 'ZS=F', 'GF=F', 'KE=F', 'CT=F', 'ZR=F']}

# Store data for each asset class in a dictionary
# Use .items()to iterate over the key-value pairs of the api_pull dictionary
# pull data for the number of years requested by the user
data = {}
for asset_class, tickers in api_pull.items():
    data[asset_class] = {}
    for ticker in tickers:
        data[asset_class][ticker] = yf.Ticker(ticker).history(period=f"{num_years}y")

In [85]:
# Review pulled data:
data

{'crypto': {'BTC-USD':                                    Open          High           Low  \
  Date
  2014-09-17 00:00:00+00:00    465.864014    468.174011    452.421997
  2014-09-18 00:00:00+00:00    456.859985    456.859985    413.104004
  2014-09-19 00:00:00+00:00    424.102997    427.834991    384.532013
  2014-09-20 00:00:00+00:00    394.673004    423.295990    389.882996
  2014-09-21 00:00:00+00:00    408.084991    412.425995    393.181000
  ...                                 ...           ...           ...
  2023-02-04 00:00:00+00:00  23446.320312  23556.949219  23291.794922
  2023-02-05 00:00:00+00:00  23332.248047  23423.435547  22841.759766
  2023-02-06 00:00:00+00:00  22954.021484  23119.279297  22692.025391
  2023-02-07 00:00:00+00:00  22757.267578  23310.974609  22756.257812
  2023-02-09 00:00:00+00:00  23267.400391  23351.509766  22737.466797

                                    Close       Volume  Dividends  Stock Splits
  Date
  2014-09-17 00:00:00+00:00    457.334015     21056800        0.0           0.0
  2014-09-18 00:00:00+00:00    424.440002     34483200        0.0           0.0
  2014-09-19 00:00:00+00:00    394.795990     37919700        0.0           0.0
  2014-09-20 00:00:00+00:00    408.903992     36863600        0.0           0.0
  2014-09-21 00:00:00+00:00    398.821014     26580100        0.0           0.0
  ...                                 ...          ...        ...           ...
  2023-02-04 00:00:00+00:00  23331.847656  15639298538        0.0           0.0
  2023-02-05 00:00:00+00:00  22955.666016  19564262605        0.0           0.0
  2023-02-06 00:00:00+00:00  22760.109375  23825006542        0.0           0.0
  2023-02-07 00:00:00+00:00  23264.291016  27187964471        0.0           0.0
  2023-02-09 00:00:00+00:00  22965.007812  25283721216        0.0           0.0

  [3067 rows x 7 columns],
  'ETH-USD':                                   Open         High          Low        Close  \
  Date
  2017-11-09 00:00:00+00:00   308.644989   329.451996   307.056000   320.884003
  2017-11-10 00:00:00+00:00   320.670990   324.717987   294.541992   299.252991
  2017-11-11 00:00:00+00:00   298.585999   319.453003   298.191986   314.681000
  2017-11-12 00:00:00+00:00   314.690002   319.153015   298.513000   307.907990
  2017-11-13 00:00:00+00:00   307.024994   328.415009   307.024994   316.716003
  ...                                ...          ...          ...          ...
  2023-02-04 00:00:00+00:00  1664.472290  1690.099609  1648.189209  1667.059204
  2023-02-05 00:00:00+00:00  1667.166504  1671.770264  1616.391846  1631.645874
  2023-02-06 00:00:00+00:00  1631.645264  1653.715454  1611.319092  1616.247070
  2023-02-07 00:00:00+00:00  1616.009644  1673.797852  1614.863037  1672.003540
  2023-02-09 00:00:00+00:00  1672.067261  1688.527222  1635.992188  1651.553223

                                 Volume  Dividends  Stock Splits
  Date
  2017-11-09 00:00:00+00:00   893249984        0.0           0.0
  2017-11-10 00:00:00+00:00   885985984        0.0           0.0
  2017-11-11 00:00:00+00:00   842300992        0.0           0.0
  2017-11-12 00:00:00+00:00  1613479936        0.0           0.0
  2017-11-13 00:00:00+00:00  1041889984        0.0           0.0
  ...                               ...        ...           ...
  2023-02-04 00:00:00+00:00  5843302512        0.0           0.0
  2023-02-05 00:00:00+00:00  6926696531        0.0           0.0
  2023-02-06 00:00:00+00:00  6919871886        0.0           0.0
  2023-02-07 00:00:00+00:00  8030277434        0.0           0.0
  2023-02-09 00:00:00+00:00  7762322432        0.0           0.0

  [1918 rows x 7 columns],
  'DOGE-USD':                                Open      High       Low     Close      Volume  \
  Date
  2017-11-09 00:00:00+00:00  0.001207  0.001415  0.001181  0.001415     6259550
  2017-11-10 00:00:00+00:00  0.001421  0.001431  0.001125  0.001163     4246520
  2017-11-11 00:00:00+00:00  0.001146  0.001257  0.001141  0.001201     2231080
  2017-11-12 00:00:00+00:00  0.001189  0.001210  0.001002  0.001038     3288960
  2017-11-13 00:00:00+00:00  0.001046  0.001212  0.001019  0.001211     2481270
  ...                             ...       ...       ...       ...         ...
  2023-02-04 00:00:00+00:00  0.092975  0.099530  0.092663  0.095782  1071858301
  2023-02-05 00:00:00+00:00  0.095747  0.096726  0.090966  0.092095   753364305
  2023-02-06 00:00:00+00:00  0.092104  0.093097  0.089062  0.089549   488311044
  2023-02-07 00:00:00+00:00  0.089537  0.092634  0.089518  0.092576   512569389
  2023-02-09 00:00:00+00:00  0.092678  0.093108  0.089246  0.090179   461499168

                             Dividends  Stock Splits
  Date
  2017-11-09 00:00:00+00:00        0.0           0.0
  2017-11-10 00:00:00+00:00        0.0           0.0
  2017-11-11 00:00:00+00:00        0.0           0.0
  2017-11-12 00:00:00+00:00        0.0           0.0
  2017-11-13 00:00:00+00:00        0.0           0.0
  ...                              ...           ...
  2023-02-04 00:00:00+00:00        0.0           0.0
  2023-02-05 00:00:00+00:00        0.0           0.0
  2023-02-06 00:00:00+00:00        0.0           0.0
  2023-02-07 00:00:00+00:00        0.0           0.0
  2023-02-09 00:00:00+00:00        0.0           0.0

  [1918 rows x 7 columns],
  'MATIC-USD':                                Open      High       Low     Close     Volume  \
  Date
  2019-04-28 00:00:00+00:00  0.004521  0.004545  0.004317  0.004421    8408136
  2019-04-29 00:00:00+00:00  0.004418  0.004492  0.003471  0.003471    8267044
  2019-04-30 00:00:00+00:00  0.003462  0.005078  0.003458  0.004478   25072706
  2019-05-01 00:00:00+00:00  0.004440  0.004673  0.004071  0.004374   10567352
  2019-05-02 00:00:00+00:00  0.004366  0.004700  0.004096  0.004198    6714908
  ...                             ...       ...       ...       ...        ...
  2023-02-04 00:00:00+00:00  1.244452  1.281474  1.219098  1.250628  531020758
  2023-02-05 00:00:00+00:00  1.251095  1.257845  1.189648  1.204501  562393241
  2023-02-06 00:00:00+00:00  1.204367  1.236038  1.180760  1.190415  438369543
  2023-02-07 00:00:00+00:00  1.190357  1.269726  1.190325  1.268975  577383745
  2023-02-09 00:00:00+00:00  1.269885  1.335536  1.263706  1.305656  945573952

                             Dividends  Stock Splits
  Date
  2019-04-28 00:00:00+00:00        0.0           0.0
  2019-04-29 00:00:00+00:00        0.0           0.0
  2019-04-30 00:00:00+00:00        0.0           0.0
  2019-05-01 00:00:00+00:00        0.0           0.0
  2019-05-02 00:00:00+00:00        0.0           0.0
  ...                              ...           ...
  2023-02-04 00:00:00+00:00        0.0           0.0
  2023-02-05 00:00:00+00:00        0.0           0.0
  2023-02-06 00:00:00+00:00        0.0           0.0
  2023-02-07 00:00:00+00:00        0.0           0.0
  2023-02-09 00:00:00+00:00        0.0           0.0

  [1383 rows x 7 columns],
  'AVAX-USD':                                 Open       High        Low      Close  \
  Date
  2020-07-13 00:00:00+00:00   4.613968   4.915115   4.481499   4.896294
  2020-07-14 00:00:00+00:00   4.909865   5.229564   4.762068   4.986754
  2020-09-22 00:00:00+00:00   4.986754  11.463443   4.125380   5.234632
  2020-09-23 00:00:00+00:00   5.321654   5.329310   3.982604   4.118469
  2020-09-24 00:00:00+00:00   3.817925   4.751878   3.539887   4.566561
  ...                              ...        ...        ...        ...
  2023-02-04 00:00:00+00:00  21.362614  21.619284  20.993320  21.024635
  2023-02-05 00:00:00+00:00  21.025434  21.118896  19.778496  20.108017
  2023-02-06 00:00:00+00:00  20.107220  20.370625  19.560394  19.585035
  2023-02-07 00:00:00+00:00  19.580889  20.917795  19.570660  20.845219
  2023-02-09 00:00:00+00:00  20.887993  20.982449  19.738630  20.102844

                                Volume  Dividends  Stock Splits
  Date
  2020-07-13 00:00:00+00:00      28340        0.0           0.0
  2020-07-14 00:00:00+00:00       3957        0.0           0.0
  2020-09-22 00:00:00+00:00  288098840        0.0           0.0
  2020-09-23 00:00:00+00:00  173091214        0.0           0.0
  2020-09-24 00:00:00+00:00   96110964        0.0           0.0
  ...                              ...        ...           ...
  2023-02-04 00:00:00+00:00  270970237        0.0           0.0
  2023-02-05 00:00:00+00:00  341651159        0.0           0.0
  2023-02-06 00:00:00+00:00  228201924        0.0           0.0
  2023-02-07 00:00:00+00:00  316667706        0.0           0.0
  2023-02-09 00:00:00+00:00  256715936        0.0           0.0

  [872 rows x 7 columns],
  'SOL-USD':                                 Open       High        Low      Close  \
  Date
  2020-04-10 00:00:00+00:00   0.832005   1.313487   0.694187   0.951054
  2020-04-11 00:00:00+00:00   0.951054   1.049073   0.765020   0.776819
  2020-04-12 00:00:00+00:00   0.785448   0.956670   0.762426   0.882507
  2020-04-13 00:00:00+00:00   0.890760   0.891603   0.773976   0.777832
  2020-04-14 00:00:00+00:00   0.777832   0.796472   0.628169   0.661925
  ...                              ...        ...        ...        ...
  2023-02-04 00:00:00+00:00  24.679983  24.892578  24.317745  24.317745
  2023-02-05 00:00:00+00:00  24.319521  24.425667  23.116827  23.493439
  2023-02-06 00:00:00+00:00  23.493685  23.687357  22.603905  22.706388
  2023-02-07 00:00:00+00:00  22.697823  23.899799  22.607054  23.861357
  2023-02-09 00:00:00+00:00  23.900059  24.140724  22.892765  23.210321

                                Volume  Dividends  Stock Splits
  Date
  2020-04-10 00:00:00+00:00   87364276        0.0           0.0
  2020-04-11 00:00:00+00:00   43862444        0.0           0.0
  2020-04-12 00:00:00+00:00   38736897        0.0           0.0
  2020-04-13 00:00:00+00:00   18211285        0.0           0.0
  2020-04-14 00:00:00+00:00   16747614        0.0           0.0
  ...                              ...        ...           ...
  2023-02-04 00:00:00+00:00  321758043        0.0           0.0
  2023-02-05 00:00:00+00:00  578466008        0.0           0.0
  2023-02-06 00:00:00+00:00  449884793        0.0           0.0
  2023-02-07 00:00:00+00:00  625438600        0.0           0.0
  2023-02-09 00:00:00+00:00  532056992        0.0           0.0

  [1035 rows x 7 columns],
  'TRX-USD':                                Open      High       Low     Close     Volume  \
  Date
  2017-11-09 00:00:00+00:00  0.002304  0.002438  0.002285  0.002344    2924350
  2017-11-10 00:00:00+00:00  0.002335  0.002350  0.001989  0.002013    2193620
  2017-11-11 00:00:00+00:00  0.002026  0.002298  0.001890  0.002003    1748460
  2017-11-12 00:00:00+00:00  0.002006  0.002006  0.001684  0.001783    2174370
  2017-11-13 00:00:00+00:00  0.001795  0.002146  0.001771  0.002112    2889150
  ...                             ...       ...       ...       ...        ...
  2023-02-04 00:00:00+00:00  0.064122  0.064439  0.063223  0.063824  240138022
  2023-02-05 00:00:00+00:00  0.063824  0.065650  0.063308  0.064085  383628012
  2023-02-06 00:00:00+00:00  0.064091  0.064449  0.062897  0.063194  263575211
  2023-02-07 00:00:00+00:00  0.063184  0.065852  0.063155  0.065774  391361423
  2023-02-09 00:00:00+00:00  0.065875  0.069072  0.065572  0.066934  625860032

                             Dividends  Stock Splits
  Date
  2017-11-09 00:00:00+00:00        0.0           0.0
  2017-11-10 00:00:00+00:00        0.0           0.0
  2017-11-11 00:00:00+00:00        0.0           0.0
  2017-11-12 00:00:00+00:00        0.0           0.0
  2017-11-13 00:00:00+00:00        0.0           0.0
  ...                              ...           ...
  2023-02-04 00:00:00+00:00        0.0           0.0
  2023-02-05 00:00:00+00:00        0.0           0.0
  2023-02-06 00:00:00+00:00        0.0           0.0
  2023-02-07 00:00:00+00:00        0.0           0.0
  2023-02-09 00:00:00+00:00        0.0           0.0

  [1918 rows x 7 columns],
  'ATOM-USD':                                 Open       High        Low      Close  \
  Date
  2019-03-14 00:00:00+00:00   6.439715   6.639943   6.353963   6.526642
  2019-03-15 00:00:00+00:00   6.633174   7.715249   6.432468   7.504351
  2019-03-16 00:00:00+00:00   7.507990   8.305615   6.694531   7.383882
  2019-03-17 00:00:00+00:00   7.357443   7.357443   4.727895   4.776164
  2019-03-18 00:00:00+00:00   4.828242   5.229982   4.828242   5.110341
  ...                              ...        ...        ...        ...
  2023-02-04 00:00:00+00:00  14.995675  15.062573  14.662900  14.679261
  2023-02-05 00:00:00+00:00  14.677969  14.757825  14.179342  14.754556
  2023-02-06 00:00:00+00:00  14.754782  14.849291  14.051818  14.142922
  2023-02-07 00:00:00+00:00  14.140916  14.969501  14.134492  14.957318
  2023-02-09 00:00:00+00:00  14.945395  15.335807  14.637890  15.146384

                                Volume  Dividends  Stock Splits
  Date
  2019-03-14 00:00:00+00:00    7318172        0.0           0.0
  2019-03-15 00:00:00+00:00    6057301        0.0           0.0
  2019-03-16 00:00:00+00:00    3477393        0.0           0.0
  2019-03-17 00:00:00+00:00    2653565        0.0           0.0
  2019-03-18 00:00:00+00:00    2567201        0.0           0.0
  ...                              ...        ...           ...
  2023-02-04 00:00:00+00:00  147945086        0.0           0.0
  2023-02-05 00:00:00+00:00  201149659        0.0           0.0
  2023-02-06 00:00:00+00:00  171817970        0.0           0.0
  2023-02-07 00:00:00+00:00  224155768        0.0           0.0
  2023-02-09 00:00:00+00:00  263872688        0.0           0.0

  [1428 rows x 7 columns],
  'UNI7083-USD':                                Open      High       Low     Close      Volume  \
  Date
  2020-09-18 00:00:00+00:00  3.488153  8.438537  3.261757  6.897257  6061110198
  2020-09-19 00:00:00+00:00  6.945577  7.443275  5.321795  5.724464  2447471305
  2020-09-20 00:00:00+00:00  5.720515  6.050326  4.720210  5.244195  1554143599
  2020-09-21 00:00:00+00:00  5.244195  5.622155  4.160743  4.266079  1329464490
  2020-09-22 00:00:00+00:00  4.275014  4.554092  3.755040  3.905138   816282684
  ...                             ...       ...       ...       ...         ...
  2023-02-04 00:00:00+00:00  7.071139  7.330946  7.035992  7.204175   115928547
  2023-02-05 00:00:00+00:00  7.204200  7.312471  6.787405  6.899310   141896975
  2023-02-06 00:00:00+00:00  6.899173  6.960280  6.623240  6.652495   122095873
  2023-02-07 00:00:00+00:00  6.652653  6.997312  6.649284  6.984529   118898674
  2023-02-09 00:00:00+00:00  6.990841  7.042426  6.629895  6.807249   139486336

                             Dividends  Stock Splits
  Date
  2020-09-18 00:00:00+00:00        0.0           0.0
  2020-09-19 00:00:00+00:00        0.0           0.0
  2020-09-20 00:00:00+00:00        0.0           0.0
  2020-09-21 00:00:00+00:00        0.0           0.0
  2020-09-22 00:00:00+00:00        0.0           0.0
  ...                              ...           ...
  2023-02-04 00:00:00+00:00        0.0           0.0
  2023-02-05 00:00:00+00:00        0.0           0.0
  2023-02-06 00:00:00+00:00        0.0           0.0
  2023-02-07 00:00:00+00:00        0.0           0.0
  2023-02-09 00:00:00+00:00        0.0           0.0

  [874 rows x 7 columns],
  'LINK-USD':                                Open      High       Low     Close     Volume  \
  Date
  2017-11-09 00:00:00+00:00  0.216713  0.248233  0.195411  0.223969    3347920
  2017-11-10 00:00:00+00:00  0.224700  0.231280  0.180161  0.187602    2125460
  2017-11-11 00:00:00+00:00  0.186398  0.197687  0.166026  0.179770    2238980
  2017-11-12 00:00:00+00:00  0.179667  0.198376  0.145948  0.170898    5455200
  2017-11-13 00:00:00+00:00  0.169117  0.205014  0.168743  0.183071    2992650
  ...                             ...       ...       ...       ...        ...
  2023-02-04 00:00:00+00:00  7.290508  7.341149  7.147763  7.238031  211742392
  2023-02-05 00:00:00+00:00  7.238218  7.247061  6.907526  6.984616  227421226
  2023-02-06 00:00:00+00:00  6.985623  7.044710  6.801389  6.832168  216553530
  2023-02-07 00:00:00+00:00  6.832104  7.203533  6.827385  7.198653  265944829
  2023-02-09 00:00:00+00:00  7.210517  7.262691  7.000464  7.129043  306677760

                             Dividends  Stock Splits
  Date
  2017-11-09 00:00:00+00:00        0.0           0.0
  2017-11-10 00:00:00+00:00        0.0           0.0
  2017-11-11 00:00:00+00:00        0.0           0.0
  2017-11-12 00:00:00+00:00        0.0           0.0
  2017-11-13 00:00:00+00:00        0.0           0.0
  ...                              ...           ...
  2023-02-04 00:00:00+00:00        0.0           0.0
  2023-02-05 00:00:00+00:00        0.0           0.0
  2023-02-06 00:00:00+00:00        0.0           0.0
  2023-02-07 00:00:00+00:00        0.0           0.0
  2023-02-09 00:00:00+00:00        0.0           0.0

  [1918 rows x 7 columns]},
 'stocks': {'AMZN':                                  Open        High         Low       Close  \
  Date
  2013-02-11 00:00:00-05:00   13.160000   13.162500   12.830000   12.860500
  2013-02-12 00:00:00-05:00   12.959500   13.008000   12.850000   12.935000
  2013-02-13 00:00:00-05:00   13.076500   13.498000   13.015000   13.473500
  2013-02-14 00:00:00-05:00   13.368500   13.532500   13.270000   13.462000
  2013-02-15 00:00:00-05:00   13.381500   13.446000   13.155500   13.254500
  ...                               ...         ...         ...         ...
  2023-02-02 00:00:00-05:00  110.250000  114.000000  108.879997  112.910004
  2023-02-03 00:00:00-05:00  105.260002  108.779999  102.519997  103.389999
  2023-02-06 00:00:00-05:00  102.930000  103.949997  100.650002  102.180000
  2023-02-07 00:00:00-05:00  101.169998  102.410004   98.080002  102.110001
  2023-02-08 00:00:00-05:00  102.040001  102.660004   98.775002  100.050003

                                Volume  Dividends  Stock Splits
  Date
  2013-02-11 00:00:00-05:00   68074000        0.0           0.0
  2013-02-12 00:00:00-05:00   58874000        0.0           0.0
  2013-02-13 00:00:00-05:00  105860000        0.0           0.0
  2013-02-14 00:00:00-05:00   69260000        0.0           0.0
  2013-02-15 00:00:00-05:00   79598000        0.0           0.0
  ...                              ...        ...           ...
  2023-02-02 00:00:00-05:00  158154200        0.0           0.0
  2023-02-03 00:00:00-05:00  144173400        0.0           0.0
  2023-02-06 00:00:00-05:00   81945200        0.0           0.0
  2023-02-07 00:00:00-05:00  119501300        0.0           0.0
  2023-02-08 00:00:00-05:00   75759931        0.0           0.0

  [2517 rows x 7 columns],
  'AAPL':                                  Open        High         Low       Close  \
  Date
  2013-02-11 00:00:00-05:00   14.720440   14.981176   14.620039   14.826402
  2013-02-12 00:00:00-05:00   14.813432   14.902095   14.449823   14.454766
  2013-02-13 00:00:00-05:00   14.433449   14.632090   14.310186   14.427270
  2013-02-14 00:00:00-05:00   14.350350   14.570307   14.334904   14.414298
  2013-02-15 00:00:00-05:00   14.484113   14.524584   14.208241   14.215655
  ...                               ...         ...         ...         ...
  2023-02-02 00:00:00-05:00  148.899994  151.179993  148.169998  150.820007
  2023-02-03 00:00:00-05:00  148.029999  157.380005  147.830002  154.500000
  2023-02-06 00:00:00-05:00  152.570007  153.100006  150.779999  151.729996
  2023-02-07 00:00:00-05:00  150.639999  155.229996  150.639999  154.649994
  2023-02-08 00:00:00-05:00  153.880005  154.580002  151.169998  151.919998

                                Volume  Dividends  Stock Splits
  Date
  2013-02-11 00:00:00-05:00  517490400        0.0           0.0
  2013-02-12 00:00:00-05:00  609053200        0.0           0.0
  2013-02-13 00:00:00-05:00  475207600        0.0           0.0
  2013-02-14 00:00:00-05:00  355275200        0.0           0.0

In [86]:
# Create a data frame for each asset class with the close column
# Access the 'Close' column of the data for each asset class
# Extract the values of the data dictionary and then access the 'Close' column of each dataframe.
df_crypto = pd.DataFrame({ticker: data['crypto'][ticker]['Close'] for ticker in api_pull['crypto']})
df_stocks = pd.DataFrame({ticker: data['stocks'][ticker]['Close'] for ticker in api_pull['stocks']})
df_commodities = pd.DataFrame({ticker: data['commodities'][ticker]['Close'] for ticker in api_pull['commodities']})

In [87]:
# Replace all the NaN values in a data frame using the fillna() method.
df_crypto.fillna(0, inplace=True)
df_stocks.fillna(0, inplace=True)
df_commodities.fillna(0, inplace=True)

In [88]:
# Review first and last 10 rows for crypto assets class
display(df_crypto.head(10))
df_crypto.tail(10)

,BTC-USD,ETH-USD,DOGE-USD,MATIC-USD,AVAX-USD,SOL-USD,TRX-USD,ATOM-USD,UNI7083-USD,LINK-USD
Date,,,,,,,,,,
2014-09-17 00:00:00+00:00,457.334015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-18 00:00:00+00:00,424.440002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-19 00:00:00+00:00,394.795990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-20 00:00:00+00:00,408.903992,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-21 00:00:00+00:00,398.821014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-22 00:00:00+00:00,402.152008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-23 00:00:00+00:00,435.790985,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-24 00:00:00+00:00,423.204987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-25 00:00:00+00:00,411.574005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-09-26 00:00:00+00:00,404.424988,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,BTC-USD,ETH-USD,DOGE-USD,MATIC-USD,AVAX-USD,SOL-USD,TRX-USD,ATOM-USD,UNI7083-USD,LINK-USD
Date,,,,,,,,,,
2023-01-30 00:00:00+00:00,22840.138672,1567.326538,0.088337,1.087235,19.739170,23.946321,0.062247,13.056948,6.508925,6.906292
2023-01-31 00:00:00+00:00,23139.283203,1586.535400,0.096167,1.111333,19.844500,23.952547,0.062220,13.379325,6.568031,6.952308
2023-02-01 00:00:00+00:00,23723.769531,1641.792725,0.094171,1.194967,20.965364,24.993359,0.063193,14.868429,6.812751,7.216624
2023-02-02 00:00:00+00:00,23471.871094,1643.241577,0.090979,1.180444,21.180059,24.265059,0.063761,14.363241,7.102803,7.102140
2023-02-03 00:00:00+00:00,23449.322266,1664.745605,0.092987,1.244227,21.365187,24.680897,0.064122,14.996407,7.071822,7.290623
2023-02-04 00:00:00+00:00,23331.847656,1667.059204,0.095782,1.250628,21.024635,24.317745,0.063824,14.679261,7.204175,7.238031
2023-02-05 00:00:00+00:00,22955.666016,1631.645874,0.092095,1.204501,20.108017,23.493439,0.064085,14.754556,6.899310,6.984616
2023-02-06 00:00:00+00:00,22760.109375,1616.247070,0.089549,1.190415,19.585035,22.706388,0.063194,14.142922,6.652495,6.832168
2023-02-07 00:00:00+00:00,23264.291016,1672.003540,0.092576,1.268975,20.845219,23.861357,0.065774,14.957318,6.984529,7.198653
2023-02-09 00:00:00+00:00,22965.007812,1651.553223,0.090179,1.305656,20.102844,23.210321,0.066934,15.146384,6.807249,7.129043

In [89]:
# Review first and last 10 rows for stocks assets class
display(df_stocks.head(10))
df_stocks.tail(10)

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-11 00:00:00-05:00,12.8605,14.826402,2.561333,19.580080,2.888787,22.972578,13.752826,28.260000,58.171101,1.10
2013-02-12 00:00:00-05:00,12.9350,14.454766,2.526000,19.537037,2.870314,22.989077,13.767714,27.370001,58.289700,1.10
2013-02-13 00:00:00-05:00,13.4735,14.427270,2.563333,19.591091,2.856460,23.112764,13.700741,27.910000,58.428082,1.00
2013-02-14 00:00:00-05:00,13.4620,14.414298,2.551333,19.715216,2.939589,23.121008,13.819804,28.500000,58.329243,0.90
2013-02-15 00:00:00-05:00,13.2545,14.215655,2.469333,19.842093,2.939589,23.096268,13.790037,28.320000,58.223793,0.90
2013-02-19 00:00:00-05:00,13.4875,14.210404,2.618667,20.191441,2.900334,23.320747,14.251444,28.930000,58.856392,0.90
2013-02-20 00:00:00-05:00,13.3205,13.866258,2.569333,19.831331,2.858768,23.171093,14.057950,28.459999,58.625774,0.85
2013-02-21 00:00:00-05:00,13.2970,13.780066,2.344000,19.908157,2.837986,22.855164,13.909110,27.280001,58.375389,0.90
2013-02-22 00:00:00-05:00,13.2710,13.926803,2.407333,20.012762,2.891098,23.079639,14.065394,27.129999,58.777328,0.85
2013-02-25 00:00:00-05:00,12.9935,13.679355,2.292000,19.789040,2.840295,22.755388,13.581663,27.270000,57.788921,0.85

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2023-01-26 00:00:00-05:00,99.220001,143.960007,160.270004,97.519997,198.020004,248.000000,93.449997,147.300003,117.760002,22.100000
2023-01-27 00:00:00-05:00,102.239998,145.929993,177.899994,99.370003,203.649994,248.160004,93.300003,151.740005,115.610001,22.500000
2023-01-30 00:00:00-05:00,100.550003,143.000000,166.660004,96.940002,191.619995,242.710007,93.129997,147.059998,113.559998,21.990000
2023-01-31 00:00:00-05:00,103.129997,144.289993,173.220001,98.839996,195.369995,247.809998,92.730003,148.970001,116.010002,25.230000
2023-02-01 00:00:00-05:00,105.150002,145.429993,181.410004,100.430000,209.429993,252.750000,94.739998,153.119995,114.739998,24.700001
2023-02-02 00:00:00-05:00,112.910004,150.820007,188.270004,107.739998,217.089996,264.600006,96.650002,188.770004,111.150002,24.959999
2023-02-03 00:00:00-05:00,103.389999,154.500000,189.979996,104.779999,211.000000,258.350006,94.660004,186.529999,111.919998,24.320000
2023-02-06 00:00:00-05:00,102.180000,151.729996,194.759995,102.900002,210.889999,256.769989,91.830002,186.059998,111.730003,23.459999
2023-02-07 00:00:00-05:00,102.110001,154.649994,196.809998,107.639999,221.729996,267.559998,94.550003,191.619995,114.919998,25.889999
2023-02-08 00:00:00-05:00,100.050003,151.919998,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.919998,25.540001

In [90]:
# Review first and last 10 rows for commodities assets class
display(df_commodities.head(10))
df_commodities.tail(10)

,GC=F,SI=F,CL=F,HG=F,LBS=F,ZS=F,GF=F,KE=F,CT=F,ZR=F
Date,,,,,,,,,,
2013-02-08 00:00:00-05:00,1666.000000,31.424999,95.720001,3.7535,387.799988,1452.50,145.000000,799.75,82.669998,1634.5
2013-02-11 00:00:00-05:00,1648.199951,30.895000,97.029999,3.7180,384.299988,1431.50,144.800003,788.75,82.919998,1584.5
2013-02-12 00:00:00-05:00,1648.699951,31.004000,97.510002,3.7365,389.299988,1420.75,143.250000,778.00,81.809998,1566.0
2013-02-13 00:00:00-05:00,1644.199951,30.854000,97.010002,3.7340,393.899994,1423.00,141.350006,780.25,80.820000,1585.5
2013-02-14 00:00:00-05:00,1634.699951,30.343000,97.309998,3.7300,395.500000,1418.00,142.675003,775.00,81.019997,1572.0
2013-02-15 00:00:00-05:00,1608.800049,29.839001,95.860001,3.7310,399.799988,1424.50,143.375000,777.50,81.320000,1583.5
2013-02-19 00:00:00-05:00,1603.599976,29.413000,96.660004,3.6445,389.799988,1470.25,143.175003,769.00,82.180000,1592.0
2013-02-20 00:00:00-05:00,1577.599976,28.615000,94.459999,3.6055,383.200012,1482.75,140.725006,777.25,82.279999,1602.5
2013-02-21 00:00:00-05:00,1578.199951,28.695000,92.839996,3.5505,378.000000,1487.75,140.699997,757.25,81.309998,1583.5
2013-02-22 00:00:00-05:00,1572.400024,28.455999,93.129997,3.5300,376.399994,1461.25,141.250000,749.75,81.389999,1558.5

,GC=F,SI=F,CL=F,HG=F,LBS=F,ZS=F,GF=F,KE=F,CT=F,ZR=F
Date,,,,,,,,,,
2023-01-26 00:00:00-05:00,1929.099976,23.930000,81.010002,4.2670,488.200012,1523.50,179.574997,864.75,87.500000,1831.00
2023-01-27 00:00:00-05:00,1928.599976,23.527000,79.680000,4.2240,492.500000,1509.50,183.475006,869.25,86.889999,1831.00
2023-01-30 00:00:00-05:00,1922.900024,23.645000,77.900002,4.2035,516.500000,1535.25,183.925003,873.75,85.099998,1812.00
2023-01-31 00:00:00-05:00,1929.500000,23.747999,78.870003,4.2285,524.099976,1538.00,186.149994,878.75,86.220001,1782.50
2023-02-01 00:00:00-05:00,1927.800049,23.521000,76.410004,4.1110,509.600006,1520.25,183.250000,884.25,85.610001,1784.50
2023-02-02 00:00:00-05:00,1916.300049,23.534000,75.879997,4.0940,512.200012,1534.25,185.925003,880.75,86.389999,1778.00
2023-02-03 00:00:00-05:00,1862.900024,22.334000,73.389999,4.0630,499.799988,1532.00,186.100006,873.00,85.430000,1774.00
2023-02-06 00:00:00-05:00,1866.199951,22.177000,74.110001,4.0435,486.700012,1521.25,187.699997,876.00,83.269997,1754.50
2023-02-07 00:00:00-05:00,1871.699951,22.117001,77.139999,4.0885,469.500000,1515.25,187.199997,885.75,85.629997,1747.50
2023-02-08 00:00:00-05:00,1886.900024,22.320000,78.480003,4.0445,452.399994,1512.75,186.524994,896.50,85.379997,18.15

## Step 3 : 
### Prepare data ready for the Monte Carlo simulation
### ??? Should we prompt user to enter the number of simulations for the model ???
### !!! Keep in mind that for 'stocks' and 'comodities' trading_days = 252, but for 'crypto' trading_days = 365.!!!

In [92]:
## Prepare the data for Monte Carlo simulation
returns = portfolio_data.pct_change() #Calculate returns for each asset
mean_return = returns.mean()
cov_matrix = returns.cov()

NameError: name 'portfolio_data' is not defined

In [ ]:
# Set the number of simulations and trading days
num_simulations = 1000
stocks_n_comodities_num_trading_days = 252
crypto_num_trading_days = 365

## Step 4 : 
### Plot an overlay of the closing prices for each asset class (10 assetset each)
### ??? Plot the returns ???

KeyError: 'Close'

              Open    High     Low   Close  Adj Close  Volume  close_returns
Date
2010-01-15  1407.0  1410.0  1395.0  1397.5     1397.5     487       0.019329
2010-01-19  1399.5  1413.5  1370.0  1392.0     1392.0     745      -0.003936
2010-01-20  1396.0  1399.0  1345.5  1349.0     1349.0    1565      -0.030891
2010-01-21  1349.0  1388.5  1340.5  1388.0     1388.0    1738       0.028910
2010-01-22  1384.0  1424.5  1366.5  1417.0     1417.0    1023       0.020893

,Open,High,Low,Close,Adj Close,Volume,close_returns,return
Date,,,,,,,,
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,-0.069843,NaN
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,0.035735,0.035735
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,-0.024659,-0.024659
2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600,0.008352,0.008352
2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500,0.083647,0.083647
...,...,...,...,...,...,...,...,...
2022-12-27,16919.291016,16959.845703,16642.072266,16717.173828,16717.173828,15748580239,-0.011976,-0.011976
2022-12-28,16716.400391,16768.169922,16497.556641,16552.572266,16552.572266,17005713920,-0.009846,-0.009846
2022-12-29,16552.322266,16651.755859,16508.683594,16642.341797,16642.341797,14472237479,0.005423,0.005423
2022-12-30,16641.330078,16643.427734,16408.474609,16602.585938,16602.585938,15929162910,-0.002389,-0.002389
2022-12-31,16603.673828,16628.986328,16517.519531,16547.496094,16547.496094,11239186456,-0.003318,-0.003318

In [93]:

# Limit the number of securities for each alloocation( depends on the data fed)

# Get combination of alocated assets and weighting 
# Use KMeans algorithm for clustering 
#from sklearn.cluster import KMeans
#import numpy as np

In [94]:
#Data from 3 assets with their weight amounts
#Limit each equity t0 allocate 10 items 
assets = {'equity':range(0,equity_alloc,10),'commodity':range(0,commodity_alloc,10),'crypto':range(0,crypto_alloc,10)}

NameError: name 'equity_alloc' is not defined

In [6]:
#Allowing only 3 cluster of assets 
kmeans = KMeans(n_clusters=3)

In [7]:
#Fit the model to the asset data 
kmeans.fit(assets)

TypeError: float() argument must be a string or a number, not 'dict'

In [ ]:
# Plot vizualization fort the clusters

#### For streamlit install pip install streamlit==0.62.0
### there is a problem problem was related to Python version.that pyarrow is a requirement in streamlit version 0.63.0. So you can use pip install streamlit==0.62.0 and it will work just fine