In [1]:
import pandas as pd
import yfinance as yf

# import packages

In [2]:
tickers = ['SPG','AMD', 'JPM','BAC','TSLA','F','BNB','WEN','O','QYLD']
# list of tickers to use
# not sure how to pick an indefinite number of tickers to choose from

In [3]:
stock_data = pd.DataFrame()
# empty dataframe to store data

In [4]:
for t in tickers:
    stock_data[t] = yf.Ticker(t).history(period='5y')['Close'].round(2)

# for loop to request ticker closing history, rounded 2 dec

In [5]:
stock_data.head(5)

,SPG,AMD,JPM,BAC,TSLA,F,BNB,WEN,O,QYLD
Date,,,,,,,,,,
2018-02-09 00:00:00-05:00,119.89,11.31,94.99,27.19,20.69,8.94,0.62,14.18,38.13,13.26
2018-02-12 00:00:00-05:00,119.59,11.68,96.45,27.90,21.05,9.09,0.62,14.24,37.96,13.50
2018-02-13 00:00:00-05:00,120.08,11.78,97.05,27.95,21.58,8.99,0.62,14.01,38.20,13.56
2018-02-14 00:00:00-05:00,119.00,12.20,99.29,28.69,21.49,9.12,0.61,14.26,37.51,13.81
2018-02-15 00:00:00-05:00,120.59,12.19,99.71,28.88,22.27,9.14,0.59,14.22,38.43,13.99

In [ ]:
stock_data.to_csv('stock_data.csv')
stock_data.to_json('stock_data.json')

In [6]:
# spg = yf.Ticker("SPG")

# data = spg.history(period='5y')

# data

In [7]:
# df= data.iloc[:,3]

# df

In [8]:
# df.to_csv('SPG.csv')
# df.to_json('SPG.json')