## Importing Required Libraries and dependencies.

In [169]:
#Import nessesary modules
import yfinance as yf
import pandas as pd
import json 
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
import pathlib
import scipy.optimize as sci_plt
import streamlit as st

from pprint import pprint
from sklearn.preprocessing import StandardScaler

# Set display options for Pandas
# pd.set_option('display.max_colwidth', None)
# pd.set_option('expand_frame_repr', False)

## Step 1: Propt the user to customize choice for analysis

### 1.1 Prompt the user about how much capital they wish to invest??? Is it needed or we can calculate mean() for each dollar invested ?
### !!! Create widget on Streamlit for the prompt!!!

In [170]:
#Ask user how much is the allocation for Equity Allocation
# Check the input 
while True:
    try:
        equity_allocation = float(input('Please enter the amount of capital you wish to invest :'))
        break
    except:
        print('Please enter a numerical value.')

Please enter the amount of capital you wish to invest : 10000

## 1.2 Prompt the user how many years of historical data they wish to pull for the analysis.
### !!! Create widget on Streamlit for the prompt!!!

In [171]:
# Prompt the user how many years of historical data they wish to pull for the analysis
# Check the input 
while True:
    try:
        num_years = int(input('Please enter the number of years (1-10) of historical data that you wish to retrieve for the analysis :'))
        break
    except:
        print('Please enter a numerical value.')

Please enter the number of years (1-10) of historical data that you wish to retrieve for the analysis : 4

## 1.3 Prompt the user to select assets from each asset class.
### ??? Does the number of assets in each asset class should be the same for correct analysis???

### !!! Create widget on Streamlit for the prompt!!!

## Step 2 : 
### Data Collection and Cleaning
The first step is to collect data for the 3 different assets - crypto, commodities, and stocks. Using **yfinance** library for Pandas pull data from the Yahoo finance API. The data pulled for each asset class would have 10 tickers. Store the data for each asset class in separate Pandas DataFrames.

In [172]:
# Define the lists of asset classes and their respective tickers. Set it as variables, so the selection can be changed easier if neded. 
### VARIATION 1
# crypto = ['BTC-USD', 'ETH-USD', 'DOGE-USD', 'MATIC-USD', 'AVAX-USD', 'SOL-USD', 'TRX-USD', 'ATOM-USD', 'UNI7083-USD', 'LINK-USD']
# stocks = ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC']
# commodities = ['GC=F', 'SI=F', 'CL=F', 'HG=F', 'LBS=F', 'ZS=F', 'GF=F', 'KE=F', 'CT=F', 'ZR=F']

# # Collect data for crypto asset class
# crypto_df = pd.DataFrame()
# for ticker in crypto:
#     crypto_df[ticker] = yf.download(ticker)['Close']

# # Collect data for stocks asset class
# stocks_df = pd.DataFrame()
# for ticker in stocks:
#     stocks_df[ticker] = yf.download(ticker)['Close']

# # Collect data for commodities asset class
# commodities_df = pd.DataFrame()
# for ticker in commodities:
#     commodities_df[ticker] = yf.download(ticker)['Close']

In [173]:
# crypto_df.head(200)
# The problem with crypto historic data is taht diferent start times of the data(begining of the trading period is diffferent for each crypto)

In [174]:
### VARIATION 2
# Define the a dictionary of lists for each asset class
# api_pull = {'crypto' : ['BTC-USD', 'ETH-USD', 'DOGE-USD', 'MATIC-USD', 'AVAX-USD', 'SOL-USD', 'TRX-USD', 'ATOM-USD', 'UNI7083-USD', 'LINK-USD']
#             ,'stocks' : ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC']
#             ,'commodities' : ['GC=F', 'SI=F', 'CL=F', 'HG=F', 'LBS=F', 'ZS=F', 'GF=F', 'KE=F', 'CT=F', 'ZR=F']
           
#            }

# # Store data for each asset class in a dictionary
# data = {}
# for asset_class in api_pull:
#     for ticker in api_pull[asset_class]:
#         data[asset] = pd.DataFrame(yf.download(asset, start='2010-01-10', end ='2023-01-01'))

In [175]:
# run streamlit
streamlit run main_strealit.py

SyntaxError: invalid syntax (3406664078.py, line 2)

In [176]:
# VARIATION 3
# Define the lists of asset classes and their respective tickers. Set it as variables, so the selection can be changed easier if neded.
api_pull = {'crypto' : ['BTC-USD', 'ETH-USD', 'DOGE-USD', 'MATIC-USD', 'AVAX-USD', 'SOL-USD', 'TRX-USD', 'ATOM-USD', 'UNI7083-USD', 'LINK-USD'],
            'stocks' : ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC'],
            'commodities' : ['GC=F', 'SI=F', 'CL=F', 'HG=F', 'LBS=F', 'ZS=F', 'GF=F', 'KE=F', 'CT=F', 'ZR=F']}

In [177]:
# Prompt user to choose assets in asset classes 
crypto = st.multiselect("Choose cryptocurrencies:", options=api_pull['crypto'])
stocks = st.multiselect("Choose stocks:", options=api_pull['stocks'])
commodities = st.multiselect("Choose commodities:", options=api_pull['commodities'])

# Calculate the number of selected tickers for each asset class
crypto_num_selected_tickers = len(api_pull.get('crypto'))
# stocks_num_selected_tickers = len(stocks)
# commodities_num_selected_tickers = len(commodities)

In [178]:
crypto_num_selected_tickers

10

In [179]:
# Store data for each asset class in a dictionary
# Use .items()to iterate over the key-value pairs of the api_pull dictionary
# pull data for the number of years requested by the user
data = {}
for asset_class, tickers in api_pull.items():
    data[asset_class] = {}
    for ticker in tickers:
        data[asset_class][ticker] = yf.Ticker(ticker).history(period=f"{num_years}y")

In [180]:
# Review pulled data:
data

{'crypto': {'BTC-USD':                                    Open          High           Low         Close       Volume  Dividends  Stock Splits
  Date
  2019-02-14 00:00:00+00:00   3631.170166   3646.256592   3607.697754   3616.880859   6271044418        0.0           0.0
  2019-02-15 00:00:00+00:00   3617.368408   3647.795166   3608.206543   3620.810791   6091952231        0.0           0.0
  2019-02-16 00:00:00+00:00   3615.270264   3652.841309   3615.270264   3629.787598   5934744052        0.0           0.0
  2019-02-17 00:00:00+00:00   3633.359375   3680.537354   3619.182129   3673.836182   7039512503        0.0           0.0
  2019-02-18 00:00:00+00:00   3671.369873   3936.665039   3669.982422   3915.714355   9908216640        0.0           0.0
  ...                                 ...           ...           ...           ...          ...        ...           ...
  2023-02-10 00:00:00+00:00  21819.005859  21941.185547  21539.392578  21651.183594  27078406594        0.0           0.0
  2023-02-11 00:00:00+00:00  21651.841797  21891.410156  21618.449219  21870.875000  16356226232        0.0           0.0
  2023-02-12 00:00:00+00:00  21870.902344  22060.994141  21682.828125  21788.203125  17821046406        0.0           0.0
  2023-02-13 00:00:00+00:00  21787.000000  21898.414062  21460.087891  21808.101562  23918742607        0.0           0.0
  2023-02-14 00:00:00+00:00  21793.259766  22284.529297  21647.423828  22234.210938  26847344640        0.0           0.0

  [1462 rows x 7 columns],
  'ETH-USD':                                   Open         High          Low        Close      Volume  Dividends  Stock Splits
  Date
  2019-02-14 00:00:00+00:00   122.416985   124.451988   121.334892   121.390205  3331701628        0.0           0.0
  2019-02-15 00:00:00+00:00   121.453697   123.660126   121.371918   122.100388  3021741615        0.0           0.0
  2019-02-16 00:00:00+00:00   122.396454   124.134811   122.295303   123.260216  2905833287        0.0           0.0
  2019-02-17 00:00:00+00:00   123.182083   134.460098   123.091614   133.598877  4236081130        0.0           0.0
  2019-02-18 00:00:00+00:00   133.032547   147.686584   133.001938   146.098373  5387525773        0.0           0.0
  ...                                ...          ...          ...          ...         ...        ...           ...
  2023-02-10 00:00:00+00:00  1546.596558  1553.325684  1504.834473  1514.869141  8397387897        0.0           0.0
  2023-02-11 00:00:00+00:00  1514.941895  1541.334717  1510.146973  1539.926758  5064007416        0.0           0.0
  2023-02-12 00:00:00+00:00  1539.776001  1545.554199  1501.462036  1515.033691  5319698775        0.0           0.0
  2023-02-13 00:00:00+00:00  1514.916992  1524.731445  1470.023926  1507.165894  9363855114        0.0           0.0
  2023-02-14 00:00:00+00:00  1506.417847  1561.933960  1497.895020  1557.740234  9254756352        0.0           0.0

  [1462 rows x 7 columns],
  'DOGE-USD':                                Open      High       Low     Close     Volume  Dividends  Stock Splits
  Date
  2019-02-14 00:00:00+00:00  0.001891  0.001909  0.001885  0.001897   16879422        0.0           0.0
  2019-02-15 00:00:00+00:00  0.001896  0.001915  0.001889  0.001908   14754160        0.0           0.0
  2019-02-16 00:00:00+00:00  0.001907  0.001929  0.001895  0.001924   14351257        0.0           0.0
  2019-02-17 00:00:00+00:00  0.001923  0.001993  0.001915  0.001992   19208659        0.0           0.0
  2019-02-18 00:00:00+00:00  0.001993  0.002124  0.001993  0.002114   26457493        0.0           0.0
  ...                             ...       ...       ...       ...        ...        ...           ...
  2023-02-10 00:00:00+00:00  0.081479  0.082880  0.080415  0.081090  516764147        0.0           0.0
  2023-02-11 00:00:00+00:00  0.081066  0.082514  0.080788  0.082372  244141279        0.0           0.0
  2023-02-12 00:00:00+00:00  0.082355  0.085419  0.081742  0.082144  448723137        0.0           0.0
  2023-02-13 00:00:00+00:00  0.082144  0.086205  0.079978  0.082156  752090969        0.0           0.0
  2023-02-14 00:00:00+00:00  0.082116  0.083617  0.081285  0.083589  429423840        0.0           0.0

  [1462 rows x 7 columns],
  'MATIC-USD':                                Open      High       Low     Close      Volume  Dividends  Stock Splits
  Date
  2019-04-28 00:00:00+00:00  0.004521  0.004545  0.004317  0.004421     8408136        0.0           0.0
  2019-04-29 00:00:00+00:00  0.004418  0.004492  0.003471  0.003471     8267044        0.0           0.0
  2019-04-30 00:00:00+00:00  0.003462  0.005078  0.003458  0.004478    25072706        0.0           0.0
  2019-05-01 00:00:00+00:00  0.004440  0.004673  0.004071  0.004374    10567352        0.0           0.0
  2019-05-02 00:00:00+00:00  0.004366  0.004700  0.004096  0.004198     6714908        0.0           0.0
  ...                             ...       ...       ...       ...         ...        ...           ...
  2023-02-10 00:00:00+00:00  1.228480  1.308800  1.220508  1.230595  1009957719        0.0           0.0
  2023-02-11 00:00:00+00:00  1.230424  1.255009  1.218026  1.251412   452302092        0.0           0.0
  2023-02-12 00:00:00+00:00  1.251252  1.300127  1.229917  1.238516   543445136        0.0           0.0
  2023-02-13 00:00:00+00:00  1.238334  1.242274  1.144372  1.186845   748185120        0.0           0.0
  2023-02-14 00:00:00+00:00  1.185001  1.258564  1.169728  1.257956   769383168        0.0           0.0

  [1389 rows x 7 columns],
  'AVAX-USD':                                 Open       High        Low      Close     Volume  Dividends  Stock Splits
  Date
  2020-07-13 00:00:00+00:00   4.613968   4.915115   4.481499   4.896294      28340        0.0           0.0
  2020-07-14 00:00:00+00:00   4.909865   5.229564   4.762068   4.986754       3957        0.0           0.0
  2020-09-22 00:00:00+00:00   4.986754  11.463443   4.125380   5.234632  288098840        0.0           0.0
  2020-09-23 00:00:00+00:00   5.321654   5.329310   3.982604   4.118469  173091214        0.0           0.0
  2020-09-24 00:00:00+00:00   3.817925   4.751878   3.539887   4.566561   96110964        0.0           0.0
  ...                              ...        ...        ...        ...        ...        ...           ...
  2023-02-10 00:00:00+00:00  17.875814  18.224434  17.628771  17.798531  232811782        0.0           0.0
  2023-02-11 00:00:00+00:00  17.802189  18.073793  17.703312  18.029085  134054933        0.0           0.0
  2023-02-12 00:00:00+00:00  18.027767  18.466372  17.615549  17.768698  259289328        0.0           0.0
  2023-02-13 00:00:00+00:00  17.770370  17.842293  16.933636  17.620972  245266831        0.0           0.0
  2023-02-14 00:00:00+00:00  17.622467  18.257168  17.380516  18.161766  249695872        0.0           0.0

  [878 rows x 7 columns],
  'SOL-USD':                                 Open       High        Low      Close     Volume  Dividends  Stock Splits
  Date
  2020-04-10 00:00:00+00:00   0.832005   1.313487   0.694187   0.951054   87364276        0.0           0.0
  2020-04-11 00:00:00+00:00   0.951054   1.049073   0.765020   0.776819   43862444        0.0           0.0
  2020-04-12 00:00:00+00:00   0.785448   0.956670   0.762426   0.882507   38736897        0.0           0.0
  2020-04-13 00:00:00+00:00   0.890760   0.891603   0.773976   0.777832   18211285        0.0           0.0
  2020-04-14 00:00:00+00:00   0.777832   0.796472   0.628169   0.661925   16747614        0.0           0.0
  ...                              ...        ...        ...        ...        ...        ...           ...
  2023-02-10 00:00:00+00:00  20.453590  21.117727  19.843344  20.130110  654189930        0.0           0.0
  2023-02-11 00:00:00+00:00  20.128391  20.860680  20.119469  20.830095  267159267        0.0           0.0
  2023-02-12 00:00:00+00:00  20.828875  22.260618  20.646626  21.489979  532943787        0.0           0.0
  2023-02-13 00:00:00+00:00  21.486788  21.529655  19.870745  20.790100  693292656        0.0           0.0
  2023-02-14 00:00:00+00:00  20.781029  22.222553  20.717474  21.804045  868285056        0.0           0.0

  [1041 rows x 7 columns],
  'TRX-USD':                                Open      High       Low     Close     Volume  Dividends  Stock Splits
  Date
  2019-02-14 00:00:00+00:00  0.024206  0.024435  0.023424  0.023726  133232136        0.0           0.0
  2019-02-15 00:00:00+00:00  0.023767  0.024613  0.023747  0.024056  131747206        0.0           0.0
  2019-02-16 00:00:00+00:00  0.024042  0.024116  0.023784  0.023954  123247151        0.0           0.0
  2019-02-17 00:00:00+00:00  0.023963  0.024104  0.023563  0.023818  129569495        0.0           0.0
  2019-02-18 00:00:00+00:00  0.023833  0.025177  0.023833  0.024984  218788420        0.0           0.0
  ...                             ...       ...       ...       ...        ...        ...           ...
  2023-02-10 00:00:00+00:00  0.062616  0.063886  0.062469  0.063323  341903614        0.0           0.0
  2023-02-11 00:00:00+00:00  0.063325  0.064042  0.063228  0.063805  192015517        0.0           0.0
  2023-02-12 00:00:00+00:00  0.063799  0.065078  0.063669  0.063837  188947371        0.0           0.0
  2023-02-13 00:00:00+00:00  0.063832  0.065678  0.063200  0.065600  312370710        0.0           0.0
  2023-02-14 00:00:00+00:00  0.065667  0.066825  0.065203  0.066739  278427584        0.0           0.0

  [1462 rows x 7 columns],
  'ATOM-USD':                                 Open       High        Low      Close     Volume  Dividends  Stock Splits
  Date
  2019-03-14 00:00:00+00:00   6.439715   6.639943   6.353963   6.526642    7318172        0.0           0.0
  2019-03-15 00:00:00+00:00   6.633174   7.715249   6.432468   7.504351    6057301        0.0           0.0
  2019-03-16 00:00:00+00:00   7.507990   8.305615   6.694531   7.383882    3477393        0.0           0.0
  2019-03-17 00:00:00+00:00   7.357443   7.357443   4.727895   4.776164    2653565        0.0           0.0
  2019-03-18 00:00:00+00:00   4.828242   5.229982   4.828242   5.110341    2567201        0.0           0.0
  ...                              ...        ...        ...        ...        ...        ...           ...
  2023-02-10 00:00:00+00:00  13.501991  13.979785  13.465074  13.709134  208153146        0.0           0.0
  2023-02-11 00:00:00+00:00  13.711120  13.770384  13.449418  13.758607  119502217        0.0           0.0
  2023-02-12 00:00:00+00:00  13.758272  13.938952  13.441046  13.537373  125184878        0.0           0.0
  2023-02-13 00:00:00+00:00  13.536522  13.540132  12.722891  13.140862  189073702        0.0           0.0
  2023-02-14 00:00:00+00:00  13.121896  13.547547  12.988237  13.422009  192272576        0.0           0.0

  [1434 rows x 7 columns],
  'UNI7083-USD':                                Open      High       Low     Close      Volume  Dividends  Stock Splits
  Date
  2020-09-18 00:00:00+00:00  3.488153  8.438537  3.261757  6.897257  6061110198        0.0           0.0
  2020-09-19 00:00:00+00:00  6.945577  7.443275  5.321795  5.724464  2447471305        0.0           0.0
  2020-09-20 00:00:00+00:00  5.720515  6.050326  4.720210  5.244195  1554143599        0.0           0.0
  2020-09-21 00:00:00+00:00  5.244195  5.622155  4.160743  4.266079  1329464490        0.0           0.0
  2020-09-22 00:00:00+00:00  4.275014  4.554092  3.755040  3.905138   816282684        0.0           0.0
  ...                             ...       ...       ...       ...         ...        ...           ...
  2023-02-10 00:00:00+00:00  6.317662  6.464967  6.267419  6.360616   116563554        0.0           0.0
  2023-02-11 00:00:00+00:00  6.361789  6.494567  6.343647  6.483412    63764867        0.0           0.0
  2023-02-12 00:00:00+00:00  6.483378  6.546191  6.317210  6.343625    59784030        0.0           0.0
  2023-02-13 00:00:00+00:00  6.343367  6.371177  6.112155  6.254118   115768817        0.0           0.0
  2023-02-14 00:00:00+00:00  6.250377  6.578128  6.234368  6.577971    94179336        0.0           0.0

  [880 rows x 7 columns],
  'LINK-USD':                                Open      High       Low     Close     Volume  Dividends  Stock Splits
  Date
  2019-02-14 00:00:00+00:00  0.443295  0.445445  0.422198  0.428376    3914369        0.0           0.0
  2019-02-15 00:00:00+00:00  0.428067  0.442391  0.421697  0.432969    3006564        0.0           0.0
  2019-02-16 00:00:00+00:00  0.433277  0.444838  0.433277  0.440511    2715140        0.0           0.0
  2019-02-17 00:00:00+00:00  0.439879  0.472939  0.430112  0.457499    6623800        0.0           0.0
  2019-02-18 00:00:00+00:00  0.460618  0.482621  0.454602  0.474333    6753508        0.0           0.0
  ...                             ...       ...       ...       ...        ...        ...           ...
  2023-02-10 00:00:00+00:00  6.983057  7.079967  6.843377  6.902424  451207831        0.0           0.0
  2023-02-11 00:00:00+00:00  6.902574  7.024776  6.872812  7.006326  202145744        0.0           0.0
  2023-02-12 00:00:00+00:00  7.006134  7.057351  6.747716  6.807924  241644536        0.0           0.0
  2023-02-13 00:00:00+00:00  6.807576  6.831330  6.476462  6.671660  357135687        0.0           0.0
  2023-02-14 00:00:00+00:00  6.667481  6.816200  6.558812  6.809433  284108224        0.0           0.0

  [1462 rows x 7 columns]},
 'stocks': {'AMZN':                                  Open        High        Low       Close    Volume  Dividends  Stock Splits
  Date
  2019-02-15 00:00:00-05:00   81.392998   81.445503  80.224998   80.397499  86878000        0.0           0.0
  2019-02-19 00:00:00-05:00   80.050003   81.699997  80.028000   81.378998  73634000        0.0           0.0
  2019-02-20 00:00:00-05:00   81.500000   81.746498  80.505997   81.105003  66752000        0.0           0.0
  2019-02-21 00:00:00-05:00   80.992500   81.178001  80.045502   80.972000  69668000        0.0           0.0
  2019-02-22 00:00:00-05:00   81.175003   81.747002  81.058502   81.578003  61924000        0.0           0.0
  ...                               ...         ...        ...         ...       ...        ...           ...
  2023-02-08 00:00:00-05:00  102.040001  102.669998  98.779999  100.050003  75878300        0.0           0.0
  2023-02-09 00:00:00-05:00  101.320000  101.779999  97.570000   98.239998  64622500        0.0           0.0
  2023-02-10 00:00:00-05:00   97.559998   98.820000  96.230003   97.610001  52698600        0.0           0.0
  2023-02-13 00:00:00-05:00   97.849998   99.680000  96.910004   99.540001  52841500        0.0           0.0
  2023-02-14 00:00:00-05:00   98.410004  100.919998  97.523102   99.699997  54324349        0.0           0.0

  [1007 rows x 7 columns],
  'AAPL':                                  Open        High         Low       Close     Volume  Dividends  Stock Splits
  Date
  2019-02-15 00:00:00-05:00   41.435534   41.544415   41.072595   41.234707   98507200       0.00           0.0
  2019-02-19 00:00:00-05:00   41.062922   41.481510   41.009690   41.358109   75891200       0.00           0.0
  2019-02-20 00:00:00-05:00   41.421026   41.936401   41.372635   41.624271  104457600       0.00           0.0
  2019-02-21 00:00:00-05:00   41.568623   41.706538   41.205684   41.389572   68998800       0.00           0.0
  2019-02-22 00:00:00-05:00   41.515388   41.858970   41.466997   41.851711   75652800       0.00           0.0
  ...                               ...         ...         ...         ...        ...        ...           ...
  2023-02-08 00:00:00-05:00  153.645419  154.344349  150.939544  151.688400   64120100       0.00           0.0
  2023-02-09 00:00:00-05:00  153.545567  154.094731  150.190688  150.639999   56007100       0.00           0.0
  2023-02-10 00:00:00-05:00  149.460007  151.339996  149.220001  151.009995   57409100       0.23           0.0
  2023-02-13 00:00:00-05:00  150.949997  154.259995  150.919998  153.850006   62199000       0.00           0.0
  2023-02-14 00:00:00-05:00  152.119995  153.770004  150.869995  153.199997   57805592       0.00           0.0

  [1007 rows x 7 columns],
  'TSLA':                                  Open        High         Low       Close     Volume  Dividends  Stock Splits
  Date
  2019-02-15 00:00:00-05:00   20.299999   20.533333   20.260000   20.525333   58573500        0.0           0.0
  2019-02-19 00:00:00-05:00   20.437332   20.769333   20.364668   20.375999   62526000        0.0           0.0
  2019-02-20 00:00:00-05:00   20.294001   20.420000   19.933332   20.170668  107131500        0.0           0.0
  2019-02-21 00:00:00-05:00   20.120667   20.216000   19.366667   19.415333  133638000        0.0           0.0
  2019-02-22 00:00:00-05:00   19.632668   19.766666   19.473333   19.647333   86109000        0.0           0.0
  ...                               ...         ...         ...         ...        ...        ...           ...
  2023-02-08 00:00:00-05:00  196.100006  203.000000  194.309998  201.289993  180673600        0.0           0.0
  2023-02-09 00:00:00-05:00  207.779999  214.000000  204.770004  207.320007  215431400        0.0           0.0
  2023-02-10 00:00:00-05:00  202.229996  206.199997  192.889999  196.889999  204193800        0.0           0.0
  2023-02-13 00:00:00-05:00  194.419998  196.300003  187.610001  194.639999  172475500        0.0           0.0
  2023-02-14 00:00:00-05:00  191.940002  209.820007  189.449997  209.250000  214769225        0.0           0.0

  [1007 rows x 7 columns],
  'GOOGL':                                  Open        High        Low      Close     Volume  Dividends  Stock Splits
  Date
  2019-02-15 00:00:00-05:00   56.965000   56.965000  55.835999  55.981499   27826000        0.0           0.0
  2019-02-19 00:00:00-05:00   55.832001   56.481998  55.832001  56.325500   21980000        0.0           0.0
  2019-02-20 00:00:00-05:00   56.444000   56.546501  55.587502  56.029499   24090000        0.0           0.0
  2019-02-21 00:00:00-05:00   55.938999   55.957500  54.898998  55.210499   33272000        0.0           0.0
  2019-02-22 00:00:00-05:00   55.485001   55.862499  55.025002  55.827999   29436000        0.0           0.0
  ...                               ...         ...        ...        ...        ...        ...           ...
  2023-02-08 00:00:00-05:00  102.050003  103.139999  98.040001  99.370003   94743500        0.0           0.0
  2023-02-09 00:00:00-05:00  100.000000  100.029999  93.629997  95.010002  119455000        0.0           0.0
  2023-02-10 00:00:00-05:00   95.449997   96.750000  94.250000  94.570000   54927500        0.0           0.0
  2023-02-13 00:00:00-05:00   94.739998   95.199997  93.839996  94.610001   50076100        0.0           0.0
  2023-02-14 00:00:00-05:00   94.430000   94.845001  92.260002  94.680000   54555001        0.0           0.0

  [1007 rows x 7 columns],
  'NVDA':                                  Open        High         Low       Close     Volume  Dividends  Stock Splits
  Date
  2019-02-15 00:00:00-05:00   40.439007   40.667321   38.818469   39.046783  151674800        0.0           0.0
  2019-02-19 00:00:00-05:00   38.940072   39.679613   38.748982   38.873066   55189200        0.0           0.0
  2019-02-20 00:00:00-05:00   39.165899   40.019595   39.054221   39.347061   54098800        0.0           0.0
  2019-02-21 00:00:00-05:00   39.473633   39.719321   38.510740   38.657162   44854800        0.0           0.0
  2019-02-22 00:00:00-05:00   39.175830   39.694500   39.039336   39.505894   40174000        0.0           0.0
  ...                               ...         ...         ...         ...        ...        ...           ...
  2023-02-08 00:00:00-05:00  223.869995  228.779999  220.080002  222.050003   55965100        0.0           0.0

In [147]:
# Create a data frame for each asset class with the close column
# Access the 'Close' column of the data for each asset class
# Extract the values of the data dictionary and then access the 'Close' column of each dataframe.
crypto_df = pd.DataFrame({ticker: data['crypto'][ticker]['Close'] for ticker in api_pull['crypto']})
stocks_df = pd.DataFrame({ticker: data['stocks'][ticker]['Close'] for ticker in api_pull['stocks']})
commodities_df = pd.DataFrame({ticker: data['commodities'][ticker]['Close'] for ticker in api_pull['commodities']})

In [148]:
# Rewiev df
crypto_df

                                BTC-USD      ETH-USD  DOGE-USD  MATIC-USD   AVAX-USD    SOL-USD   TRX-USD   ATOM-USD  UNI7083-USD  LINK-USD
Date
2019-02-14 00:00:00+00:00   3616.880859   121.390205  0.001897        NaN        NaN        NaN  0.023726        NaN          NaN  0.428376
2019-02-15 00:00:00+00:00   3620.810791   122.100388  0.001908        NaN        NaN        NaN  0.024056        NaN          NaN  0.432969
2019-02-16 00:00:00+00:00   3629.787598   123.260216  0.001924        NaN        NaN        NaN  0.023954        NaN          NaN  0.440511
2019-02-17 00:00:00+00:00   3673.836182   133.598877  0.001992        NaN        NaN        NaN  0.023818        NaN          NaN  0.457499
2019-02-18 00:00:00+00:00   3915.714355   146.098373  0.002114        NaN        NaN        NaN  0.024984        NaN          NaN  0.474333
...                                 ...          ...       ...        ...        ...        ...       ...        ...          ...       ...
2023-02-10 00:00:00+00:00  21651.183594  1514.869141  0.081090   1.230595  17.798531  20.130110  0.063323  13.709134     6.360616  6.902424
2023-02-11 00:00:00+00:00  21870.875000  1539.926758  0.082372   1.251412  18.029085  20.830095  0.063805  13.758607     6.483412  7.006326
2023-02-12 00:00:00+00:00  21788.203125  1515.033691  0.082144   1.238516  17.768698  21.489979  0.063837  13.537373     6.343625  6.807924
2023-02-13 00:00:00+00:00  21808.101562  1507.165894  0.082156   1.186845  17.620972  20.790100  0.065600  13.140862     6.254118  6.671660
2023-02-14 00:00:00+00:00  22242.783203  1556.350220  0.083448   1.255112  18.090921  21.748230  0.066766  13.421297     6.553576  6.794612

[1462 rows x 10 columns]

In [149]:
# Rewiev df
stocks_df

                                 AMZN        AAPL        TSLA      GOOGL        NVDA        MSFT        TSM        META         XOM        LAC
Date
2019-02-15 00:00:00-05:00   80.397499   41.234722   20.525333  55.981499   39.046783  103.676628  34.137424  162.500000   62.437393   3.130000
2019-02-19 00:00:00-05:00   81.378998   41.358112   20.375999  56.325500   38.873062  103.628700  34.469040  162.289993   62.855198   3.160000
2019-02-20 00:00:00-05:00   81.105003   41.624271   20.170668  56.029499   39.347073  103.089928  34.953003  162.559998   63.096233   3.490000
2019-02-21 00:00:00-05:00   80.972000   41.389572   19.415333  55.210499   38.657158  105.264305  34.935074  160.039993   62.525772   3.660000
2019-02-22 00:00:00-05:00   81.578003   41.851711   19.647333  55.827999   39.505898  106.765190  35.302532  161.889999   63.007843   3.770000
...                               ...         ...         ...        ...         ...         ...        ...         ...         ...        ...
2023-02-08 00:00:00-05:00  100.050003  151.688400  201.289993  99.370003  222.050003  266.730011  94.279999  183.429993  113.050087  25.540001
2023-02-09 00:00:00-05:00   98.239998  150.639999  207.320007  95.010002  223.369995  263.619995  96.690002  177.919998  113.476807  25.799999
2023-02-10 00:00:00-05:00   97.610001  151.009995  196.889999  94.570000  212.649994  263.100006  95.370003  174.149994  118.260002  24.549999
2023-02-13 00:00:00-05:00   99.540001  153.850006  194.639999  94.610001  217.880005  271.320007  96.110001  179.429993  117.800003  24.129999
2023-02-14 00:00:00-05:00   99.699997  153.199997  209.250000  94.680000  229.710007  272.170013  97.959999  179.479996  116.419998  24.879999

[1007 rows x 10 columns]

In [150]:
# Rewiev df
commodities_df

                                  GC=F       SI=F       CL=F    HG=F       LBS=F     ZS=F        GF=F    KE=F       CT=F         ZR=F
Date
2019-02-14 00:00:00-05:00  1309.800049  15.500000  54.410000  2.7760  423.299988   903.50  144.074997  481.50  70.129997  1018.500000
2019-02-15 00:00:00-05:00  1318.099976  15.723000  55.590000  2.8025  408.299988   907.50  142.600006  476.50  70.220001   999.500000
2019-02-19 00:00:00-05:00  1340.099976  15.947000  56.090000  2.8815  397.399994   900.75  143.750000  460.75  70.410004   986.500000
2019-02-20 00:00:00-05:00  1343.300049  16.157000  56.919998  2.9300  389.000000   902.50  143.875000  450.00  70.279999  1003.500000
2019-02-21 00:00:00-05:00  1323.500000  15.791000  56.959999  2.9025  398.200012   911.00  143.225006  455.25  72.190002  1021.000000
...                                ...        ...        ...     ...         ...      ...         ...     ...        ...          ...
2023-02-08 00:00:00-05:00  1877.400024  22.367001  78.470001  4.0435  454.100006  1519.75  186.449997  896.00  85.370003  1790.000000
2023-02-09 00:00:00-05:00  1866.199951  22.097000  78.059998  4.1055  433.600006  1519.25  186.824997  879.00  85.500000  1811.500000
2023-02-10 00:00:00-05:00  1862.800049  22.034000  79.720001  4.0275  419.600006  1542.50  186.399994  909.00  85.269997  1808.500000
2023-02-13 00:00:00-05:00  1851.900024  21.818001  80.139999  4.0870  414.100006  1542.75  187.199997  912.25  85.639999  1791.000000
2023-02-14 00:00:00-05:00  1864.800049  21.850000  78.839996  4.0885  427.100006  1529.25  186.625000  905.25  85.849998    17.950001

[1011 rows x 10 columns]

In [152]:
# Calculate .log() returns over time calculate .pct_change() for each asset class
crypto_log_returns = np.log(1 + crypto_df.pct_change())
stocks_log_returns = np.log(1 + stocks_df.pct_change())
commodities_log_returns = np.log(1 + commodities_df.pct_change())

In [153]:
crypto_log_returns

                            BTC-USD   ETH-USD  DOGE-USD  MATIC-USD  AVAX-USD   SOL-USD   TRX-USD  ATOM-USD  UNI7083-USD  LINK-USD
Date
2019-02-14 00:00:00+00:00       NaN       NaN       NaN        NaN       NaN       NaN       NaN       NaN          NaN       NaN
2019-02-15 00:00:00+00:00  0.001086  0.005833  0.005782        NaN       NaN       NaN  0.013813       NaN          NaN  0.010665
2019-02-16 00:00:00+00:00  0.002476  0.009454  0.008351        NaN       NaN       NaN -0.004249       NaN          NaN  0.017269
2019-02-17 00:00:00+00:00  0.012062  0.080544  0.034733        NaN       NaN       NaN -0.005694       NaN          NaN  0.037839
2019-02-18 00:00:00+00:00  0.063761  0.089438  0.059443        NaN       NaN       NaN  0.047794       NaN          NaN  0.036135
...                             ...       ...       ...        ...       ...       ...       ...       ...          ...       ...
2023-02-10 00:00:00+00:00 -0.007723 -0.020625 -0.004798   0.001832 -0.004257 -0.015870  0.011260  0.015213     0.006862 -0.011626
2023-02-11 00:00:00+00:00  0.010096  0.016406  0.015686   0.016775  0.012870  0.034182  0.007583  0.003602     0.019122  0.014941
2023-02-12 00:00:00+00:00 -0.003787 -0.016297 -0.002772  -0.010359 -0.014548  0.031188  0.000501 -0.016210    -0.021797 -0.028726
2023-02-13 00:00:00+00:00  0.000913 -0.005207  0.000146  -0.042615 -0.008349 -0.033110  0.027243 -0.029728    -0.014210 -0.020219
2023-02-14 00:00:00+00:00  0.019736  0.032112  0.015605   0.055927  0.026320  0.045055  0.017611  0.021116     0.046771  0.018261

[1462 rows x 10 columns]

In [154]:
stocks_log_returns

                               AMZN      AAPL      TSLA     GOOGL      NVDA      MSFT       TSM      META       XOM       LAC
Date
2019-02-15 00:00:00-05:00       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2019-02-19 00:00:00-05:00  0.012134  0.002988 -0.007302  0.006126 -0.004459 -0.000462  0.009667 -0.001293  0.006669  0.009539
2019-02-20 00:00:00-05:00 -0.003373  0.006415 -0.010128 -0.005269  0.012120 -0.005213  0.013943  0.001662  0.003827  0.099330
2019-02-21 00:00:00-05:00 -0.001641 -0.005654 -0.038166 -0.014725 -0.017690  0.020873 -0.000513 -0.015623 -0.009082  0.047561
2019-02-22 00:00:00-05:00  0.007456  0.011104  0.011879  0.011122  0.021718  0.014158  0.010463  0.011493  0.007680  0.029612
...                             ...       ...       ...       ...       ...       ...       ...       ...       ...       ...
2023-02-08 00:00:00-05:00 -0.020381 -0.017810  0.022508 -0.079942  0.001442 -0.003107 -0.002860 -0.043681 -0.008740 -0.013611
2023-02-09 00:00:00-05:00 -0.018257 -0.006936  0.029517 -0.044868  0.005927 -0.011728  0.025241 -0.030499  0.003768  0.010129
2023-02-10 00:00:00-05:00 -0.006433  0.002453 -0.051618 -0.004642 -0.049182 -0.001974 -0.013746 -0.021417  0.041287 -0.049663
2023-02-13 00:00:00-05:00  0.019580  0.018632 -0.011493  0.000423  0.024297  0.030765  0.007729  0.029868 -0.003897 -0.017256
2023-02-14 00:00:00-05:00  0.001606 -0.004234  0.072378  0.000740  0.052873  0.003128  0.019066  0.000279 -0.011784  0.030608

[1007 rows x 10 columns]

In [155]:
commodities_log_returns

                               GC=F      SI=F      CL=F      HG=F     LBS=F      ZS=F      GF=F      KE=F      CT=F      ZR=F
Date
2019-02-14 00:00:00-05:00       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN
2019-02-15 00:00:00-05:00  0.006317  0.014285  0.021455  0.009501 -0.036079  0.004417 -0.010290 -0.010439  0.001283 -0.018831
2019-02-19 00:00:00-05:00  0.016553  0.014146  0.008954  0.027799 -0.027059 -0.007466  0.008032 -0.033612  0.002702 -0.013092
2019-02-20 00:00:00-05:00  0.002385  0.013083  0.014689  0.016691 -0.021364  0.001941  0.000869 -0.023608 -0.001848  0.017086
2019-02-21 00:00:00-05:00 -0.014850 -0.022913  0.000703 -0.009430  0.023375  0.009374 -0.004528  0.011599  0.026814  0.017289
...                             ...       ...       ...       ...       ...       ...       ...       ...       ...       ...
2023-02-08 00:00:00-05:00  0.003041  0.011240  0.017094 -0.011068 -0.033351  0.002965 -0.004014  0.011506 -0.003041  0.024029
2023-02-09 00:00:00-05:00 -0.005984 -0.012145 -0.005239  0.015217 -0.046195 -0.000329  0.002009 -0.019156  0.001522  0.011940
2023-02-10 00:00:00-05:00 -0.001823 -0.002855  0.021043 -0.019182 -0.032821  0.015188 -0.002277  0.033560 -0.002694 -0.001657
2023-02-13 00:00:00-05:00 -0.005869 -0.009851  0.005255  0.014665 -0.013194  0.000162  0.004283  0.003569  0.004330 -0.009724
2023-02-14 00:00:00-05:00  0.006942  0.001466 -0.016355  0.000367  0.030911 -0.008789 -0.003076 -0.007703  0.002449 -4.602939

[1011 rows x 10 columns]

In [156]:
# Generate random weights for each asset class
crypto_random_wts

In [127]:
# Replace all the NaN values in a data frame using the fillna() method. Create a copy of the data frames.
cryptodf_df = crypto_df.fillna(0).copy()
dstocksf_df = df_stocksf_df.fillna(0).copy()
commoditiesf_df = commoditiesf_df.fillna(0).copy()

In [108]:
# Review first and last 10 rows for crypto assets class
display(cryptof_df.head(10))
cryptof_df.tail(10)

                               BTC-USD     ETH-USD  DOGE-USD  MATIC-USD  AVAX-USD  SOL-USD   TRX-USD  ATOM-USD  UNI7083-USD  LINK-USD
Date
2019-02-14 00:00:00+00:00  3616.880859  121.390205  0.001897        0.0       0.0      0.0  0.023726       0.0          0.0  0.428376
2019-02-15 00:00:00+00:00  3620.810791  122.100388  0.001908        0.0       0.0      0.0  0.024056       0.0          0.0  0.432969
2019-02-16 00:00:00+00:00  3629.787598  123.260216  0.001924        0.0       0.0      0.0  0.023954       0.0          0.0  0.440511
2019-02-17 00:00:00+00:00  3673.836182  133.598877  0.001992        0.0       0.0      0.0  0.023818       0.0          0.0  0.457499
2019-02-18 00:00:00+00:00  3915.714355  146.098373  0.002114        0.0       0.0      0.0  0.024984       0.0          0.0  0.474333
2019-02-19 00:00:00+00:00  3947.094482  145.346191  0.002067        0.0       0.0      0.0  0.024993       0.0          0.0  0.458156
2019-02-20 00:00:00+00:00  3999.820557  149.554337  0.002079        0.0       0.0      0.0  0.025228       0.0          0.0  0.466110
2019-02-21 00:00:00+00:00  3954.118164  146.130844  0.002028        0.0       0.0      0.0  0.024804       0.0          0.0  0.445463
2019-02-22 00:00:00+00:00  4005.526611  149.092453  0.002056        0.0       0.0      0.0  0.025158       0.0          0.0  0.452029
2019-02-23 00:00:00+00:00  4142.526855  158.795425  0.002083        0.0       0.0      0.0  0.025455       0.0          0.0  0.461889

                                BTC-USD      ETH-USD  DOGE-USD  MATIC-USD   AVAX-USD    SOL-USD   TRX-USD   ATOM-USD  UNI7083-USD  LINK-USD
Date
2023-02-05 00:00:00+00:00  22955.666016  1631.645874  0.092095   1.204501  20.108017  23.493439  0.064085  14.754556     6.899310  6.984616
2023-02-06 00:00:00+00:00  22760.109375  1616.247070  0.089549   1.190415  19.585035  22.706388  0.063194  14.142922     6.652495  6.832168
2023-02-07 00:00:00+00:00  23264.291016  1672.003540  0.092576   1.268975  20.845219  23.861357  0.065774  14.957318     6.984529  7.198653
2023-02-08 00:00:00+00:00  22939.398438  1650.716797  0.090156   1.303970  20.081474  23.192671  0.066874  15.146101     6.799746  7.121416
2023-02-09 00:00:00+00:00  21819.039062  1546.438232  0.081480   1.228342  17.874453  20.452127  0.062614  13.502150     6.317118  6.983141
2023-02-10 00:00:00+00:00  21651.183594  1514.869141  0.081090   1.230595  17.798531  20.130110  0.063323  13.709134     6.360616  6.902424
2023-02-11 00:00:00+00:00  21870.875000  1539.926758  0.082372   1.251412  18.029085  20.830095  0.063805  13.758607     6.483412  7.006326
2023-02-12 00:00:00+00:00  21788.203125  1515.033691  0.082144   1.238516  17.768698  21.489979  0.063837  13.537373     6.343625  6.807924
2023-02-13 00:00:00+00:00  21808.101562  1507.165894  0.082156   1.186845  17.620972  20.790100  0.065600  13.140862     6.254118  6.671660
2023-02-14 00:00:00+00:00  22222.175781  1553.905029  0.083363   1.249587  18.071783  21.796555  0.066586  13.400751     6.540798  6.786636

In [103]:
# Review first and last 10 rows for stocks assets class
display(stocksf_df.head(10))
stocksf_df.tail(10)

                                AMZN       AAPL       TSLA      GOOGL       NVDA        MSFT        TSM        META        XOM   LAC
Date
2019-02-15 00:00:00-05:00  80.397499  41.234715  20.525333  55.981499  39.046787  103.676613  34.137428  162.500000  62.437386  3.13
2019-02-19 00:00:00-05:00  81.378998  41.358120  20.375999  56.325500  38.873066  103.628716  34.469036  162.289993  62.855209  3.16
2019-02-20 00:00:00-05:00  81.105003  41.624260  20.170668  56.029499  39.347069  103.089943  34.953003  162.559998  63.096226  3.49
2019-02-21 00:00:00-05:00  80.972000  41.389561  19.415333  55.210499  38.657162  105.264290  34.935070  160.039993  62.525772  3.66
2019-02-22 00:00:00-05:00  81.578003  41.851711  19.647333  55.827999  39.505894  106.765190  35.302532  161.889999  63.007832  3.77
2019-02-25 00:00:00-05:00  81.650002  42.156578  19.917999  55.866501  39.381809  107.361687  35.472809  164.619995  63.072117  3.76
2019-02-26 00:00:00-05:00  81.820000  42.180779  19.857332  56.100498  38.987221  108.102501  35.490734  164.130005  63.200691  3.61
2019-02-27 00:00:00-05:00  82.054497  42.311436  20.982668  56.144501  38.567822  107.919716  35.356300  162.809998  63.851482  3.64
2019-02-28 00:00:00-05:00  81.991501  41.895267  21.325333  56.327499  38.321880  107.785019  34.997814  161.449997  63.497974  3.70
2019-03-01 00:00:00-05:00  83.586502  42.335617  19.652666  57.425999  38.865929  108.266075  35.302532  162.279999  64.277328  3.73

                                 AMZN        AAPL        TSLA       GOOGL        NVDA        MSFT        TSM        META         XOM        LAC
Date
2023-02-01 00:00:00-05:00  105.150002  145.208282  181.410004  100.430000  209.429993  252.750000  94.739998  153.119995  113.863831  24.700001
2023-02-02 00:00:00-05:00  112.910004  150.590088  188.270004  107.739998  217.089996  264.600006  96.650002  188.770004  110.301247  24.959999
2023-02-03 00:00:00-05:00  103.389999  154.264465  189.979996  104.779999  211.000000  258.350006  94.660004  186.529999  111.065361  24.320000
2023-02-06 00:00:00-05:00  102.180000  151.498688  194.759995  102.900002  210.889999  256.769989  91.830002  186.059998  110.876816  23.459999
2023-02-07 00:00:00-05:00  102.110001  154.414230  196.809998  107.639999  221.729996  267.559998  94.550003  191.619995  114.042458  25.889999
2023-02-08 00:00:00-05:00  100.050003  151.688400  201.289993   99.370003  222.050003  266.730011  94.279999  183.429993  113.050087  25.540001
2023-02-09 00:00:00-05:00   98.239998  150.639999  207.320007   95.010002  223.369995  263.619995  96.690002  177.919998  113.476807  25.799999
2023-02-10 00:00:00-05:00   97.610001  151.009995  196.889999   94.570000  212.649994  263.100006  95.370003  174.149994  118.260002  24.549999
2023-02-13 00:00:00-05:00   99.540001  153.850006  194.639999   94.610001  217.880005  271.320007  96.110001  179.429993  117.800003  24.129999
2023-02-14 00:00:00-05:00   99.699997  153.199997  209.250000   94.680000  229.710007  272.170013  97.959999  179.479996  116.419998  24.879999

In [104]:
# Review first and last 10 rows for commodities assets class
display(commoditiesf_df.head(10))
commoditiesf_df.tail(10)

                                  GC=F    SI=F       CL=F    HG=F       LBS=F    ZS=F        GF=F    KE=F       CT=F    ZR=F
Date
2019-02-14 00:00:00-05:00  1309.800049  15.500  54.410000  2.7760  423.299988  903.50  144.074997  481.50  70.129997  1018.5
2019-02-15 00:00:00-05:00  1318.099976  15.723  55.590000  2.8025  408.299988  907.50  142.600006  476.50  70.220001   999.5
2019-02-19 00:00:00-05:00  1340.099976  15.947  56.090000  2.8815  397.399994  900.75  143.750000  460.75  70.410004   986.5
2019-02-20 00:00:00-05:00  1343.300049  16.157  56.919998  2.9300  389.000000  902.50  143.875000  450.00  70.279999  1003.5
2019-02-21 00:00:00-05:00  1323.500000  15.791  56.959999  2.9025  398.200012  911.00  143.225006  455.25  72.190002  1021.0
2019-02-22 00:00:00-05:00  1329.199951  15.908  57.259998  2.9610  396.899994  910.25  142.899994  458.50  71.839996  1019.0
2019-02-25 00:00:00-05:00  1325.900024  15.825  55.480000  2.9500  395.899994  911.75  142.500000  442.25  71.930000  1010.0
2019-02-26 00:00:00-05:00  1325.099976  15.827  55.500000  2.9440  388.700012  903.75  143.449997  435.75  70.849998  1036.5
2019-02-27 00:00:00-05:00  1317.699951  15.672  56.939999  2.9590  388.700012  903.50  143.875000  438.75  71.190002  1028.5
2019-02-28 00:00:00-05:00  1312.800049  15.538  57.220001  2.9500  385.600006  897.50  142.875000  441.00  71.739998  1039.5

                                  GC=F       SI=F       CL=F    HG=F       LBS=F     ZS=F        GF=F    KE=F       CT=F         ZR=F
Date
2023-02-01 00:00:00-05:00  1927.800049  23.521000  76.410004  4.1110  509.600006  1520.25  183.250000  884.25  85.610001  1784.500000
2023-02-02 00:00:00-05:00  1916.300049  23.534000  75.879997  4.0940  512.200012  1534.25  185.925003  880.75  86.389999  1778.000000
2023-02-03 00:00:00-05:00  1862.900024  22.334000  73.389999  4.0630  499.799988  1532.00  186.100006  873.00  85.430000  1774.000000
2023-02-06 00:00:00-05:00  1866.199951  22.177000  74.110001  4.0435  486.700012  1521.25  187.699997  876.00  83.269997  1754.500000
2023-02-07 00:00:00-05:00  1871.699951  22.117001  77.139999  4.0885  469.500000  1515.25  187.199997  885.75  85.629997  1747.500000
2023-02-08 00:00:00-05:00  1877.400024  22.367001  78.470001  4.0435  454.100006  1519.75  186.449997  896.00  85.370003  1790.000000
2023-02-09 00:00:00-05:00  1866.199951  22.097000  78.059998  4.1055  433.600006  1519.25  186.824997  879.00  85.500000  1811.500000
2023-02-10 00:00:00-05:00  1862.800049  22.034000  79.720001  4.0275  419.600006  1542.50  186.399994  909.00  85.269997  1808.500000
2023-02-13 00:00:00-05:00  1851.900024  21.818001  80.139999  4.0870  414.100006  1542.75  187.199997  912.25  85.639999  1791.000000
2023-02-14 00:00:00-05:00  1864.800049  21.844999  78.919998  4.0895  427.100006  1529.25  186.625000  905.25  85.849998    17.950001

## Step 3 : 
### Prepare data ready for the Monte Carlo simulation
### ??? Should we prompt user to enter the number of simulations for the model ???
### !!! Keep in mind that for 'stocks' and 'comodities' trading_days = 252, but for 'crypto' trading_days = 365.!!!

In [83]:
## Prepare the data for Monte Carlo simulation
returns = portfolio_data.pct_change() #Calculate returns for each asset
mean_return = returns.mean()
cov_matrix = returns.cov()

NameError: name 'portfolio_data' is not defined

In [ ]:
# Set the number of simulations and trading days
num_simulations = 1000
stocks_n_comodities_num_trading_days = 252
crypto_num_trading_days = 365

## Step 4 : 
### Plot an overlay of the closing prices for each asset class (10 assetset each)
### ??? Plot the returns ???

In [ ]:

# Limit the number of securities for each alloocation( depends on the data fed)

# Get combination of alocated assets and weighting 
# Use KMeans algorithm for clustering 
#from sklearn.cluster import KMeans
#import numpy as np

In [ ]:
#Data from 3 assets with their weight amounts
#Limit each equity t0 allocate 10 items 
assets = {'equity':range(0,equity_alloc,10),'commodity':range(0,commodity_alloc,10),'crypto':range(0,crypto_alloc,10)}

In [ ]:
#Allowing only 3 cluster of assets 
kmeans = KMeans(n_clusters=3)

In [ ]:
#Fit the model to the asset data 
kmeans.fit(assets)

In [ ]:
# Plot vizualization fort the clusters

#### For streamlit install pip install streamlit==0.62.0
### there is a problem problem was related to Python version.that pyarrow is a requirement in streamlit version 0.63.0. So you can use pip install streamlit==0.62.0 and it will work just fine