# Get historical data throgh API 
# Make Api call for crypto and stock(S&P500) from Allpaca
# Make API call for comodities from barchart

In [1]:
# Limit the number of securities for each alloocation( depends on the data fed)

# Get combination of alocated assets and weighting 
# Use KMeans algorithm for clustering 
from sklearn.cluster import KMeans
# from yahoofinancials import YahooFinancials
import yfinance as yf
import numpy as np
import requests
import json
import pandas as pd
import datetime as dt

# Data collection and preparation for Stocks, Crypto, and Commodities

In [2]:
# # Using NASDAQ Data Link API to collect commodities data from the OPEC Crude Oil Basket.
# # Collecting 10-year crude oil market data from OPEC.
# OPEC_url = "https://data.nasdaq.com/api/v3/datasets/OPEC/ORB.json?api_key=9MXjsAzYyYicz7jtVQX5&start_date=2018-02-06"
# OPEC_response = requests.get(OPEC_url)
# OPEC_data = OPEC_response.json()

# print(json.dumps(OPEC_data, indent=4, sort_keys=True))

In [3]:
# # Using NASDAQ Data Link API to collect commodities data from the LBMA London Bullion Market Association.
# # Collecting 10-year gold market data from LBMA.
# LBMA_gold_url = "https://data.nasdaq.com/api/v3/datasets/LBMA/GOLD.json?api_key=9MXjsAzYyYicz7jtVQX5&start_date=2013-02-07"
# LBMA_gold_response = requests.get(LBMA_gold_url)
# LBMA_gold_data = LBMA_gold_response.json()

# print(json.dumps(LBMA_gold_data, indent=4, sort_keys=True))

In [4]:
#Ask user how much is the allocation for Equity Allocation
# Check the input 
while True:
    try:
        equity_allocation = float(input('Please enter the amount of capital you wish to invest :'))
        break
    except:
        print('Please enter a numerical value.')

Please enter the amount of capital you wish to invest : 10000

In [ ]:
# Prompt the user how many years of historical data they wish to pull for the analysis
# Check the input 
while True:
    try:
        num_years = int(input('Please enter the number of years (1-10) of historical data that you wish to retrieve for the analysis :'))
        break
    except:
        print('Please enter a numerical value.')

In [ ]:
# VARIATION 3
# Define the lists of asset classes and their respective tickers. Set it as variables, so the selection can be changed easier if neded.
# api_pull = {'crypto' : ['BTC-USD', 'ETH-USD', 'DOGE-USD', 'MATIC-USD', 'AVAX-USD', 'SOL-USD', 'TRX-USD', 'ATOM-USD', 'UNI7083-USD', 'LINK-USD'],
#             'stocks' : ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC'],
#             'commodities' : ['GC=F', 'SI=F', 'CL=F', 'HG=F', 'LBS=F', 'ZS=F', 'GF=F', 'KE=F', 'CT=F', 'ZR=F']}
api_pull = {'stocks' : ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC']}

# Store data for each asset class in a dictionary
# Use .items()to iterate over the key-value pairs of the api_pull dictionary
# pull data for the number of years requested by the user
data = {}
for asset_class, tickers in api_pull.items():
    data[asset_class] = {}
    for ticker in tickers:
        data[asset_class][ticker] = yf.Ticker(ticker).history(period=f"{num_years}y")

In [ ]:

# Review pulled data:
data

In [ ]:
# Create a data frame for each asset class with the close column
# Access the 'Close' column of the data for each asset class
# Extract the values of the data dictionary and then access the 'Close' column of each dataframe.
# df_crypto = pd.DataFrame({ticker: data['crypto'][ticker]['Close'] for ticker in api_pull['crypto']})
df_stocks = pd.DataFrame({ticker: data['stocks'][ticker]['Close'] for ticker in api_pull['stocks']})
# df_commodities = pd.DataFrame({ticker: data['commodities'][ticker]['Close'] for ticker in api_pull['commodities']})

In [29]:
# Replace all the NaN values in a data frame using the fillna() method. Create a copy of the data frames.
# df_crypto = df_crypto.fillna(0).copy()
df_stocks = df_stocks.fillna(0).copy()
# df_commodities = df_commodities.fillna(0).copy()

In [30]:
# df_crypto.head()

In [31]:
# # Review first and last 10 rows for crypto assets class
# display(df_crypto.head(10))
# df_crypto.tail(10)

In [32]:
# Review first and last 10 rows for stocks assets class
display(df_stocks.head(10))
df_stocks.tail(10)

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-11 05:00:00+00:00,12.8605,14.803802,2.561333,19.580080,2.888788,22.972584,13.752829,28.260000,58.171097,1.10
2013-02-12 05:00:00+00:00,12.9350,14.432729,2.526000,19.537037,2.870314,22.989073,13.767711,27.370001,58.289715,1.10
2013-02-13 05:00:00+00:00,13.4735,14.405272,2.563333,19.591091,2.856460,23.112757,13.700734,27.910000,58.428085,1.00
2013-02-14 05:00:00+00:00,13.4620,14.392322,2.551333,19.715216,2.939590,23.121006,13.819810,28.500000,58.329235,0.90
2013-02-15 05:00:00+00:00,13.2545,14.193984,2.469333,19.842093,2.939590,23.096264,13.790041,28.320000,58.223804,0.90
2013-02-19 05:00:00+00:00,13.4875,14.188741,2.618667,20.191441,2.900334,23.320745,14.251442,28.930000,58.856388,0.90
2013-02-20 05:00:00+00:00,13.3205,13.845118,2.569333,19.831331,2.858768,23.171087,14.057952,28.459999,58.625767,0.85
2013-02-21 05:00:00+00:00,13.2970,13.759056,2.344000,19.908157,2.837987,22.855165,13.909115,27.280001,58.375359,0.90
2013-02-22 05:00:00+00:00,13.2710,13.905575,2.407333,20.012762,2.891098,23.079639,14.065396,27.129999,58.777325,0.85
2013-02-25 05:00:00+00:00,12.9935,13.658503,2.292000,19.789040,2.840296,22.755392,13.581664,27.270000,57.788906,0.85

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2023-01-30 05:00:00+00:00,100.550003,142.781998,166.660004,96.940002,191.619995,242.710007,93.129997,147.059998,113.559998,21.990000
2023-01-31 05:00:00+00:00,103.129997,144.070023,173.220001,98.839996,195.369995,247.809998,92.730003,148.970001,116.010002,25.230000
2023-02-01 05:00:00+00:00,105.150002,145.208282,181.410004,100.430000,209.429993,252.750000,94.739998,153.119995,114.739998,24.700001
2023-02-02 05:00:00+00:00,112.910004,150.590088,188.270004,107.739998,217.089996,264.600006,96.650002,188.770004,111.150002,24.959999
2023-02-03 05:00:00+00:00,103.389999,154.264465,189.979996,104.779999,211.000000,258.350006,94.660004,186.529999,111.919998,24.320000
2023-02-06 05:00:00+00:00,102.180000,151.498688,194.759995,102.900002,210.889999,256.769989,91.830002,186.059998,111.730003,23.459999
2023-02-07 05:00:00+00:00,102.110001,154.414230,196.809998,107.639999,221.729996,267.559998,94.550003,191.619995,114.919998,25.889999
2023-02-08 05:00:00+00:00,100.050003,151.688400,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.919998,25.540001
2023-02-09 05:00:00+00:00,98.239998,150.639999,207.320007,95.010002,223.369995,263.619995,96.690002,177.919998,114.349998,25.799999
2023-02-10 05:00:00+00:00,97.610001,151.009995,196.889999,94.570000,212.649994,263.100006,95.370003,174.149994,119.169998,24.549999

In [33]:
# # Review first and last 10 rows for commodities assets class
# display(df_commodities.head(10))
# df_commodities.tail(10)

In [34]:
#Run montecarlo model

In [35]:
# df_crypto.index = pd.to_datetime(df_crypto.index)
df_stocks.index = pd.to_datetime(df_stocks.index)
# df_commodities.index = pd.to_datetime(df_commodities.index)

# df_crypto.index = df_crypto.index.tz_convert('UTC')
df_stocks.index = df_stocks.index.tz_convert('UTC')
# df_commodities.index = df_commodities.index.tz_convert('UTC')

In [36]:
portfolio_data = pd.concat([df_stocks], axis=1)
portfolio_data

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-11 05:00:00+00:00,12.860500,14.803802,2.561333,19.580080,2.888788,22.972584,13.752829,28.260000,58.171097,1.100000
2013-02-12 05:00:00+00:00,12.935000,14.432729,2.526000,19.537037,2.870314,22.989073,13.767711,27.370001,58.289715,1.100000
2013-02-13 05:00:00+00:00,13.473500,14.405272,2.563333,19.591091,2.856460,23.112757,13.700734,27.910000,58.428085,1.000000
2013-02-14 05:00:00+00:00,13.462000,14.392322,2.551333,19.715216,2.939590,23.121006,13.819810,28.500000,58.329235,0.900000
2013-02-15 05:00:00+00:00,13.254500,14.193984,2.469333,19.842093,2.939590,23.096264,13.790041,28.320000,58.223804,0.900000
...,...,...,...,...,...,...,...,...,...,...
2023-02-06 05:00:00+00:00,102.180000,151.498688,194.759995,102.900002,210.889999,256.769989,91.830002,186.059998,111.730003,23.459999
2023-02-07 05:00:00+00:00,102.110001,154.414230,196.809998,107.639999,221.729996,267.559998,94.550003,191.619995,114.919998,25.889999
2023-02-08 05:00:00+00:00,100.050003,151.688400,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.919998,25.540001
2023-02-09 05:00:00+00:00,98.239998,150.639999,207.320007,95.010002,223.369995,263.619995,96.690002,177.919998,114.349998,25.799999
2023-02-10 05:00:00+00:00,97.610001,151.009995,196.889999,94.570000,212.649994,263.100006,95.370003,174.149994,119.169998,24.549999

In [37]:
portfolio_data.fillna(0).copy()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-11 05:00:00+00:00,12.860500,14.803802,2.561333,19.580080,2.888788,22.972584,13.752829,28.260000,58.171097,1.100000
2013-02-12 05:00:00+00:00,12.935000,14.432729,2.526000,19.537037,2.870314,22.989073,13.767711,27.370001,58.289715,1.100000
2013-02-13 05:00:00+00:00,13.473500,14.405272,2.563333,19.591091,2.856460,23.112757,13.700734,27.910000,58.428085,1.000000
2013-02-14 05:00:00+00:00,13.462000,14.392322,2.551333,19.715216,2.939590,23.121006,13.819810,28.500000,58.329235,0.900000
2013-02-15 05:00:00+00:00,13.254500,14.193984,2.469333,19.842093,2.939590,23.096264,13.790041,28.320000,58.223804,0.900000
...,...,...,...,...,...,...,...,...,...,...
2023-02-06 05:00:00+00:00,102.180000,151.498688,194.759995,102.900002,210.889999,256.769989,91.830002,186.059998,111.730003,23.459999
2023-02-07 05:00:00+00:00,102.110001,154.414230,196.809998,107.639999,221.729996,267.559998,94.550003,191.619995,114.919998,25.889999
2023-02-08 05:00:00+00:00,100.050003,151.688400,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.919998,25.540001
2023-02-09 05:00:00+00:00,98.239998,150.639999,207.320007,95.010002,223.369995,263.619995,96.690002,177.919998,114.349998,25.799999
2023-02-10 05:00:00+00:00,97.610001,151.009995,196.889999,94.570000,212.649994,263.100006,95.370003,174.149994,119.169998,24.549999

In [38]:
# ## Prepare the data for Monte Carlo simulation
# returns = portfolio_data.pct_change() #Calculate returns for each asset
# mean_return = returns.mean()
# cov_matrix = returns.cov()

In [39]:
mean_daily_ret = portfolio_data.pct_change(1).mean()
mean_daily_ret

AMZN     0.001018
AAPL     0.001087
TSLA     0.002383
GOOGL    0.000774
NVDA     0.002101
MSFT     0.001116
TSM      0.000944
META     0.001022
XOM      0.000429
LAC      0.003014
dtype: float64

In [40]:
portfolio_data.pct_change(1).corr()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
AMZN,1.000000,0.520372,0.373442,0.637291,0.506628,0.601882,0.416168,0.545990,0.218936,0.142985
AAPL,0.520372,1.000000,0.379118,0.583162,0.545937,0.636162,0.509005,0.488921,0.317396,0.166962
TSLA,0.373442,0.379118,1.000000,0.358851,0.393316,0.375585,0.346063,0.314528,0.188841,0.198303
GOOGL,0.637291,0.583162,0.358851,1.000000,0.549476,0.699132,0.492052,0.605260,0.339344,0.164856
NVDA,0.506628,0.545937,0.393316,0.549476,1.000000,0.594039,0.555276,0.456919,0.259299,0.214281
MSFT,0.601882,0.636162,0.375585,0.699132,0.594039,1.000000,0.502333,0.514511,0.329174,0.185397
TSM,0.416168,0.509005,0.346063,0.492052,0.555276,0.502333,1.000000,0.369086,0.331267,0.199242
META,0.545990,0.488921,0.314528,0.605260,0.456919,0.514511,0.369086,1.000000,0.204952,0.163283
XOM,0.218936,0.317396,0.188841,0.339344,0.259299,0.329174,0.331267,0.204952,1.000000,0.171694
LAC,0.142985,0.166962,0.198303,0.164856,0.214281,0.185397,0.199242,0.163283,0.171694,1.000000

In [41]:
portfolio_data.head()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-11 05:00:00+00:00,12.8605,14.803802,2.561333,19.580080,2.888788,22.972584,13.752829,28.260000,58.171097,1.1
2013-02-12 05:00:00+00:00,12.9350,14.432729,2.526000,19.537037,2.870314,22.989073,13.767711,27.370001,58.289715,1.1
2013-02-13 05:00:00+00:00,13.4735,14.405272,2.563333,19.591091,2.856460,23.112757,13.700734,27.910000,58.428085,1.0
2013-02-14 05:00:00+00:00,13.4620,14.392322,2.551333,19.715216,2.939590,23.121006,13.819810,28.500000,58.329235,0.9
2013-02-15 05:00:00+00:00,13.2545,14.193984,2.469333,19.842093,2.939590,23.096264,13.790041,28.320000,58.223804,0.9

In [42]:
portfolio_data_daily_ret = portfolio_data.pct_change(1).dropna()
portfolio_data_daily_ret.head()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-12 05:00:00+00:00,0.005793,-0.025066,-0.013795,-0.002198,-0.006395,0.000718,0.001082,-0.031493,0.002039,0.000000
2013-02-13 05:00:00+00:00,0.041631,-0.001902,0.014779,0.002767,-0.004827,0.005380,-0.004865,0.019730,0.002374,-0.090909
2013-02-14 05:00:00+00:00,-0.000854,-0.000899,-0.004681,0.006336,0.029103,0.000357,0.008691,0.021139,-0.001692,-0.100000
2013-02-15 05:00:00+00:00,-0.015414,-0.013781,-0.032140,0.006435,0.000000,-0.001070,-0.002154,-0.006316,-0.001808,0.000000
2013-02-19 05:00:00+00:00,0.017579,-0.000369,0.060475,0.017606,-0.013354,0.009719,0.033459,0.021540,0.010865,0.000000

In [43]:
log_ret = np.log(portfolio_data/portfolio_data.shift(1)).dropna()
log_ret.head()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-12 05:00:00+00:00,0.005776,-0.025386,-0.013891,-0.002201,-0.006416,0.000718,0.001082,-0.032000,0.002037,0.000000
2013-02-13 05:00:00+00:00,0.040788,-0.001904,0.014671,0.002763,-0.004839,0.005366,-0.004877,0.019537,0.002371,-0.095310
2013-02-14 05:00:00+00:00,-0.000854,-0.000899,-0.004692,0.006316,0.028687,0.000357,0.008654,0.020919,-0.001693,-0.105361
2013-02-15 05:00:00+00:00,-0.015534,-0.013877,-0.032668,0.006415,0.000000,-0.001071,-0.002156,-0.006336,-0.001809,0.000000
2013-02-19 05:00:00+00:00,0.017426,-0.000369,0.058717,0.017453,-0.013444,0.009672,0.032911,0.021311,0.010806,0.000000

In [44]:
log_ret.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AMZN,2518.0,0.000805,0.020628,-0.151398,-0.008606,0.001092,0.011115,0.132178
AAPL,2518.0,0.000922,0.018119,-0.137708,-0.007437,0.000899,0.010300,0.113157
TSLA,2518.0,0.001724,0.036224,-0.236518,-0.015081,0.001388,0.019017,0.218292
GOOGL,2518.0,0.000625,0.017219,-0.123685,-0.007098,0.000808,0.009124,0.150645
NVDA,2518.0,0.001707,0.027979,-0.207712,-0.010811,0.002012,0.015033,0.260876
MSFT,2518.0,0.000968,0.017153,-0.159453,-0.006583,0.000830,0.009506,0.132929
TSM,2518.0,0.000769,0.018675,-0.151219,-0.008987,0.000746,0.010560,0.119135
META,2518.0,0.000722,0.024521,-0.306391,-0.009666,0.001040,0.012447,0.259371
XOM,2518.0,0.000285,0.016964,-0.130391,-0.007391,0.000117,0.008130,0.119442
LAC,2518.0,0.001233,0.058035,-0.788457,-0.028171,0.000000,0.028326,1.076139

In [45]:
# Compute pairwise covariance of columns
log_ret.cov()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
AMZN,0.000426,0.000195,0.000283,0.000227,0.000297,0.000213,0.000161,0.000277,0.000078,0.000198
AAPL,0.000195,0.000328,0.000253,0.000183,0.000280,0.000198,0.000173,0.000218,0.000099,0.000212
TSLA,0.000283,0.000253,0.001312,0.000228,0.000407,0.000237,0.000238,0.000284,0.000120,0.000474
GOOGL,0.000227,0.000183,0.000228,0.000296,0.000269,0.000208,0.000160,0.000256,0.000100,0.000191
NVDA,0.000297,0.000280,0.000407,0.000269,0.000783,0.000288,0.000294,0.000317,0.000126,0.000397
MSFT,0.000213,0.000198,0.000237,0.000208,0.000288,0.000294,0.000162,0.000217,0.000097,0.000210
TSM,0.000161,0.000173,0.000238,0.000160,0.000294,0.000162,0.000349,0.000170,0.000106,0.000242
META,0.000277,0.000218,0.000284,0.000256,0.000317,0.000217,0.000170,0.000601,0.000086,0.000271
XOM,0.000078,0.000099,0.000120,0.000100,0.000126,0.000097,0.000106,0.000086,0.000288,0.000193
LAC,0.000198,0.000212,0.000474,0.000191,0.000397,0.000210,0.000242,0.000271,0.000193,0.003368

In [46]:
log_ret.cov()*252 # multiply by days

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
AMZN,0.107231,0.049184,0.071283,0.057313,0.074889,0.053566,0.040675,0.069896,0.019647,0.049996
AAPL,0.049184,0.082735,0.063825,0.046209,0.070542,0.049959,0.043677,0.054841,0.024938,0.053330
TSLA,0.071283,0.063825,0.330661,0.057498,0.102556,0.059808,0.059972,0.071480,0.030185,0.119562
GOOGL,0.057313,0.046209,0.057498,0.074716,0.067836,0.052352,0.040233,0.064583,0.025303,0.048164
NVDA,0.074889,0.070542,0.102556,0.067836,0.197278,0.072682,0.074049,0.079949,0.031669,0.100160
MSFT,0.053566,0.049959,0.059808,0.052352,0.072682,0.074145,0.040802,0.054800,0.024480,0.052850
TSM,0.040675,0.043677,0.059972,0.040233,0.074049,0.040802,0.087886,0.042886,0.026683,0.061022
META,0.069896,0.054841,0.071480,0.064583,0.079949,0.054800,0.042886,0.151527,0.021769,0.068274
XOM,0.019647,0.024938,0.030185,0.025303,0.031669,0.024480,0.026683,0.021769,0.072524,0.048688
LAC,0.049996,0.053330,0.119562,0.048164,0.100160,0.052850,0.061022,0.068274,0.048688,0.848743

In [47]:
# Set seed (optional)
np.random.seed(101)

# Stock Columns
print('portfolio_data')
print(portfolio_data.columns)
print('\n')

# Create Random Weights
print('Creating Random Weights')
weights = np.array(np.random.random(10))
print(weights)
print('\n')

# Rebalance Weights
print('Rebalance to sum to 1.0')
weights = weights / np.sum(weights)
print(weights)
print('\n')
# log_ret.mean()
# Expected Return
print('Expected Portfolio Return')
exp_ret = np.sum(log_ret.mean() * weights) *252
print(exp_ret)
print('\n')

# Expected Variance
print('Expected Volatility')
exp_vol = np.sqrt(np.dot(weights.T, np.dot(log_ret.cov() * 252, weights)))
print(exp_vol)
print('\n')

# Sharpe Ratio
SR = exp_ret/exp_vol
print('Sharpe Ratio')
print(SR)

portfolio_data
Index(['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META', 'XOM',
       'LAC'],
      dtype='object')


Creating Random Weights
[0.51639863 0.57066759 0.02847423 0.17152166 0.68527698 0.83389686
 0.30696622 0.89361308 0.72154386 0.18993895]


Rebalance to sum to 1.0
[0.10499539 0.11602948 0.00578945 0.03487419 0.13933214 0.16954988
 0.0624131  0.18169153 0.14670601 0.03861884]


Expected Portfolio Return
0.2252896323780208


Expected Volatility
0.24597814558040776


Sharpe Ratio
0.9158928808347159

In [51]:
num_ports = 15000

all_weights = np.zeros((num_ports,len(portfolio_data.columns)))
ret_arr = np.zeros(num_ports)
vol_arr = np.zeros(num_ports)
sharpe_arr = np.zeros(num_ports)

for ind in range(num_ports):

    # Create Random Weights
    weights = np.array(np.random.random(10))

    # Rebalance Weights
    weights = weights / np.sum(weights)
    
    # Save Weights
    all_weights[ind,:] = weights

    # Expected Return
    ret_arr[ind] = np.sum((log_ret.mean() * weights) *252)

    # Expected Variance
    vol_arr[ind] = np.sqrt(np.dot(weights.T, np.dot(log_ret.cov() * 252, weights)))

    # Sharpe Ratio
    sharpe_arr[ind] = ret_arr[ind]/vol_arr[ind]

In [52]:
sharpe_arr.max()

1.0673215699703111

In [53]:
sharpe_arr.argmax()

874

In [54]:
all_weights[874,:]

array([0.05722729, 0.14368187, 0.21128851, 0.02632141, 0.22908986,
       0.1588382 , 0.13608507, 0.00063149, 0.02284941, 0.01398688])

In [55]:
max_sr_ret = ret_arr[874]
max_sr_vol = vol_arr[874]

In [ ]:
# # Prepare the data for Monte Carlo simulation
# returns = portfolio_data.pct_change() # Calculate returns for each asset
# mean_return = returns.mean()
# cov_matrix = returns.cov()

# # Set the number of simulations and trading days
# num_simulations = 1000
# stocks_n_comodities_num_trading_days = 252
# # crypto_num_trading_days = 365

# # Create an empty array to hold the simulation results
# simulation_results = np.zeros((num_simulations, len(portfolio_data.columns)))

# # Loop over the number of simulations
# for i in range(num_simulations):
#     # Generate random daily returns for each asset
#     daily_returns = np.random.multivariate_normal(mean_return, cov_matrix, stocks_n_comodities_num_trading_days)
#     # Calculate the cumulative returns over the simulation period
#     simulation_returns = (1 + daily_returns).cumprod(axis=0)
#     # Calculate the final portfolio value for each simulation
#     portfolio_values = simulation_returns[-1] * portfolio_data.iloc[-1]
#     # Save the portfolio values for this simulation
#     simulation_results[i, :] = portfolio_values

# # Calculate the mean and standard deviation of the simulation results
# mean_portfolio_values = simulation_results.mean(axis=0)
# std_portfolio_values = simulation_results.std(axis=0)

# # Print the results
# print("Expected portfolio value: $", round(mean_portfolio_values.sum(), 2))

In [ ]:
print((portfolio_data <= 0).sum())

In [ ]:
portfolio_data.index = portfolio_data.index.tz_convert('UTC')

In [ ]:
# portfolio_data = portfolio_data.mask(portfolio_data <= 0, portfolio_data.mean())
portfolio_data = portfolio_data.mask(portfolio_data <= 0, portfolio_data.mean(), axis=0)

In [ ]:
# print(portfolio_data.isna().sum())

In [ ]:
# eigvals, _ = np.linalg.eig(cov_matrix)
# print(eigvals)

In [ ]:
#Ask user how much is the allocation for Equity Allocation
# Check the input 
while True:
    try:
        equity_alloc = int(input('max equity'))
        break
    except:
        print('thats not an integer')

In [ ]:
#Ask user how much is the allocation for Commodity Allocation
# Check the input 
while True:
    try:
        commodity_alloc = int(input('max commodity'))
        break
    except:
        print('thats not an integer')

In [ ]:
#Ask user how much is the allocation for Crypto Allocation
# Check the input 
while True:
    try:
        crypto_alloc = int(input('max crypto'))
        break
    except:
        print('thats not an integer')

In [ ]:
#Data from 3 assets with their weight amounts
#Limit each equity t0 allocate 10 items 
assets = {'equity':range(0,equity_alloc,10),'commodity':range(0,commodity_alloc,10),'crypto':range(0,crypto_alloc,10)}

In [ ]:
#Allowing only 3 cluster of assets 
kmeans = KMeans(n_clusters=3)

In [ ]:
#Fit the model to the asset data 
kmeans.fit(assets)

In [ ]:
# Plot vizualization fort the clusters

In [ ]:
# Ru