# Get historical data throgh API 
# Make Api call for crypto and stock(S&P500) from Allpaca
# Make API call for comodities from barchart

In [1]:
# Limit the number of securities for each alloocation( depends on the data fed)

# Get combination of alocated assets and weighting 
# Use KMeans algorithm for clustering 
from sklearn.cluster import KMeans
# from yahoofinancials import YahooFinancials
import yfinance as yf
import numpy as np
import requests
import json
import pandas as pd
import datetime as dt

# Data collection and preparation for Stocks, Crypto, and Commodities

In [2]:
#Ask user how much is the allocation for Equity Allocation
# Check the input 
while True:
    try:
        equity_allocation = float(input('Please enter the amount of capital you wish to invest :'))
        break
    except:
        print('Please enter a numerical value.')

Please enter the amount of capital you wish to invest : 10000

In [36]:
# Prompt the user how many years of historical data they wish to pull for the analysis
# Check the input 
while True:
    try:
        num_years = int(input('Please enter the number of years (1-10) of historical data that you wish to retrieve for the analysis :'))
        break
    except:
        print('Please enter a numerical value.'
             )

Please enter the number of years (1-10) of historical data that you wish to retrieve for the analysis : 10

In [37]:
# VARIATION 3
# Define the lists of asset classes and their respective tickers. Set it as variables, so the selection can be changed easier if neded.
api_pull = {'stocks' : ['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META','XOM', 'LAC']}

# Store data for each asset class in a dictionary
# Use .items()to iterate over the key-value pairs of the api_pull dictionary
# pull data for the number of years requested by the user
data = {}
for asset_class, tickers in api_pull.items():
    data[asset_class] = {}
    for ticker in tickers:
        data[asset_class][ticker] = yf.Ticker(ticker).history(period=f"{num_years}y")

In [38]:

# Review pulled data:
data

{'stocks': {'AMZN':                                  Open        High        Low       Close  \
  Date
  2013-02-15 00:00:00-05:00   13.381500   13.446000  13.155500   13.254500
  2013-02-19 00:00:00-05:00   13.295500   13.505500  13.225000   13.487500
  2013-02-20 00:00:00-05:00   13.510000   13.715000  13.318500   13.320500
  2013-02-21 00:00:00-05:00   13.256000   13.474000  13.162500   13.297000
  2013-02-22 00:00:00-05:00   13.331000   13.355500  13.080500   13.271000
  ...                               ...         ...        ...         ...
  2023-02-08 00:00:00-05:00  102.040001  102.669998  98.779999  100.050003
  2023-02-09 00:00:00-05:00  101.320000  101.779999  97.570000   98.239998
  2023-02-10 00:00:00-05:00   97.559998   98.820000  96.230003   97.610001
  2023-02-13 00:00:00-05:00   97.849998   99.680000  96.910004   99.540001
  2023-02-14 00:00:00-05:00   98.410004  100.919998  97.519997   99.699997

                               Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00  79598000        0.0           0.0
  2013-02-19 00:00:00-05:00  57084000        0.0           0.0
  2013-02-20 00:00:00-05:00  70578000        0.0           0.0
  2013-02-21 00:00:00-05:00  72748000        0.0           0.0
  2013-02-22 00:00:00-05:00  62496000        0.0           0.0
  ...                             ...        ...           ...
  2023-02-08 00:00:00-05:00  75878300        0.0           0.0
  2023-02-09 00:00:00-05:00  64622500        0.0           0.0
  2023-02-10 00:00:00-05:00  52698600        0.0           0.0
  2023-02-13 00:00:00-05:00  52841500        0.0           0.0
  2023-02-14 00:00:00-05:00  56128800        0.0           0.0

  [2517 rows x 7 columns],
  'AAPL':                                  Open        High         Low       Close  \
  Date
  2013-02-15 00:00:00-05:00   14.462030   14.502439   14.186578   14.193981
  2013-02-19 00:00:00-05:00   14.222978   14.273256   13.999346   14.188738
  2013-02-20 00:00:00-05:00   14.117796   14.117796   13.843576   13.845119
  2013-02-21 00:00:00-05:00   13.757207   13.854989   13.659118   13.759058
  2013-02-22 00:00:00-05:00   13.857456   13.929942   13.775714   13.905575
  ...                               ...         ...         ...         ...
  2023-02-08 00:00:00-05:00  153.645419  154.344349  150.939544  151.688400
  2023-02-09 00:00:00-05:00  153.545567  154.094731  150.190688  150.639999
  2023-02-10 00:00:00-05:00  149.460007  151.339996  149.220001  151.009995
  2023-02-13 00:00:00-05:00  150.949997  154.259995  150.919998  153.850006
  2023-02-14 00:00:00-05:00  152.119995  153.770004  150.860001  153.199997

                                Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00  391745200       0.00           0.0
  2013-02-19 00:00:00-05:00  435783600       0.00           0.0
  2013-02-20 00:00:00-05:00  476302400       0.00           0.0
  2013-02-21 00:00:00-05:00  447182400       0.00           0.0
  2013-02-22 00:00:00-05:00  330654800       0.00           0.0
  ...                              ...        ...           ...
  2023-02-08 00:00:00-05:00   64120100       0.00           0.0
  2023-02-09 00:00:00-05:00   56007100       0.00           0.0
  2023-02-10 00:00:00-05:00   57409100       0.23           0.0
  2023-02-13 00:00:00-05:00   62199000       0.00           0.0
  2023-02-14 00:00:00-05:00   61627300       0.00           0.0

  [2517 rows x 7 columns],
  'TSLA':                                  Open        High         Low       Close  \
  Date
  2013-02-15 00:00:00-05:00    2.566667    2.567333    2.463333    2.469333
  2013-02-19 00:00:00-05:00    2.490667    2.619333    2.487333    2.618667
  2013-02-20 00:00:00-05:00    2.620000    2.643333    2.564000    2.569333
  2013-02-21 00:00:00-05:00    2.432667    2.492667    2.302667    2.344000
  2013-02-22 00:00:00-05:00    2.381333    2.426000    2.373333    2.407333
  ...                               ...         ...         ...         ...
  2023-02-08 00:00:00-05:00  196.100006  203.000000  194.309998  201.289993
  2023-02-09 00:00:00-05:00  207.779999  214.000000  204.770004  207.320007
  2023-02-10 00:00:00-05:00  202.229996  206.199997  192.889999  196.889999
  2023-02-13 00:00:00-05:00  194.419998  196.300003  187.610001  194.639999
  2023-02-14 00:00:00-05:00  191.940002  209.820007  189.440002  209.250000

                                Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00   30264000        0.0           0.0
  2013-02-19 00:00:00-05:00   40521000        0.0           0.0
  2013-02-20 00:00:00-05:00   46830000        0.0           0.0
  2013-02-21 00:00:00-05:00  135567000        0.0           0.0
  2013-02-22 00:00:00-05:00   38209500        0.0           0.0
  ...                              ...        ...           ...
  2023-02-08 00:00:00-05:00  180673600        0.0           0.0
  2023-02-09 00:00:00-05:00  215431400        0.0           0.0
  2023-02-10 00:00:00-05:00  204193800        0.0           0.0
  2023-02-13 00:00:00-05:00  172475500        0.0           0.0
  2023-02-14 00:00:00-05:00  215456200        0.0           0.0

  [2517 rows x 7 columns],
  'GOOGL':                                  Open        High        Low      Close  \
  Date
  2013-02-15 00:00:00-05:00   19.704704   19.851351  19.696445  19.842093
  2013-02-19 00:00:00-05:00   19.919670   20.195194  19.901901  20.191441
  2013-02-20 00:00:00-05:00   20.152653   20.244493  19.814566  19.831331
  2013-02-21 00:00:00-05:00   19.969971   20.156406  19.800301  19.908157
  2013-02-22 00:00:00-05:00   20.001501   20.051300  19.864864  20.012762
  ...                               ...         ...        ...        ...
  2023-02-08 00:00:00-05:00  102.050003  103.139999  98.040001  99.370003
  2023-02-09 00:00:00-05:00  100.000000  100.029999  93.629997  95.010002
  2023-02-10 00:00:00-05:00   95.449997   96.750000  94.250000  94.570000
  2023-02-13 00:00:00-05:00   94.739998   95.199997  93.839996  94.610001
  2023-02-14 00:00:00-05:00   94.430000   94.849998  92.260002  94.680000

                                Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00  109082808        0.0           0.0
  2013-02-19 00:00:00-05:00  117154728        0.0           0.0
  2013-02-20 00:00:00-05:00  110457432        0.0           0.0
  2013-02-21 00:00:00-05:00  140115744        0.0           0.0
  2013-02-22 00:00:00-05:00   82073844        0.0           0.0
  ...                              ...        ...           ...
  2023-02-08 00:00:00-05:00   94743500        0.0           0.0
  2023-02-09 00:00:00-05:00  119455000        0.0           0.0
  2023-02-10 00:00:00-05:00   54927500        0.0           0.0
  2023-02-13 00:00:00-05:00   50076100        0.0           0.0
  2023-02-14 00:00:00-05:00   54639800        0.0           0.0

  [2517 rows x 7 columns],
  'NVDA':                                  Open        High         Low       Close  \
  Date
  2013-02-15 00:00:00-05:00    2.932662    2.953445    2.874932    2.939590
  2013-02-19 00:00:00-05:00    2.941899    2.944209    2.881860    2.900334
  2013-02-20 00:00:00-05:00    2.909571    2.955755    2.849532    2.858769
  2013-02-21 00:00:00-05:00    2.854150    2.886478    2.831058    2.837986
  2013-02-22 00:00:00-05:00    2.856459    2.893406    2.840295    2.891097
  ...                               ...         ...         ...         ...
  2023-02-08 00:00:00-05:00  223.869995  228.779999  220.080002  222.050003
  2023-02-09 00:00:00-05:00  226.059998  230.199997  221.199997  223.369995
  2023-02-10 00:00:00-05:00  216.899994  220.779999  208.110001  212.649994
  2023-02-13 00:00:00-05:00  215.380005  220.479996  209.619995  217.880005
  2023-02-14 00:00:00-05:00  215.779999  230.490005  213.660004  229.710007

                               Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00  73386000        0.0           0.0
  2013-02-19 00:00:00-05:00  43355200        0.0           0.0
  2013-02-20 00:00:00-05:00  71301200        0.0           0.0
  2013-02-21 00:00:00-05:00  58040800        0.0           0.0
  2013-02-22 00:00:00-05:00  37014800        0.0           0.0
  ...                             ...        ...           ...
  2023-02-08 00:00:00-05:00  55965100        0.0           0.0
  2023-02-09 00:00:00-05:00  52387600        0.0           0.0
  2023-02-10 00:00:00-05:00  55031100        0.0           0.0
  2023-02-13 00:00:00-05:00  47491900        0.0           0.0
  2023-02-14 00:00:00-05:00  67421400        0.0           0.0

  [2517 rows x 7 columns],
  'MSFT':                                  Open        High         Low       Close  \
  Date
  2013-02-15 00:00:00-05:00   23.121005   23.219953   22.989072   23.096268
  2013-02-19 00:00:00-05:00   23.179406   23.354000   23.112894   23.320744
  2013-02-20 00:00:00-05:00   23.387253   23.445453   23.137834   23.171091
  2013-02-21 00:00:00-05:00   23.063013   23.063013   22.639000   22.855164
  2013-02-22 00:00:00-05:00   23.013131   23.079643   22.846851   23.079643
  ...                               ...         ...         ...         ...
  2023-02-08 00:00:00-05:00  273.200012  276.760010  266.209991  266.730011
  2023-02-09 00:00:00-05:00  273.799988  273.980011  262.799988  263.619995
  2023-02-10 00:00:00-05:00  261.529999  264.089996  260.660004  263.100006
  2023-02-13 00:00:00-05:00  267.640015  274.600006  267.149994  271.320007
  2023-02-14 00:00:00-05:00  272.670013  274.970001  269.279999  272.170013

                               Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00  49650900       0.00           0.0
  2013-02-19 00:00:00-05:00  38781400       0.23           0.0
  2013-02-20 00:00:00-05:00  44110200       0.00           0.0
  2013-02-21 00:00:00-05:00  49078500       0.00           0.0
  2013-02-22 00:00:00-05:00  31425900       0.00           0.0
  ...                             ...        ...           ...
  2023-02-08 00:00:00-05:00  54686000       0.00           0.0
  2023-02-09 00:00:00-05:00  42375100       0.00           0.0
  2023-02-10 00:00:00-05:00  25760900       0.00           0.0
  2023-02-13 00:00:00-05:00  44630900       0.00           0.0
  2023-02-14 00:00:00-05:00  36998800       0.00           0.0

  [2517 rows x 7 columns],
  'TSM':                                 Open       High        Low      Close  \
  Date
  2013-02-15 00:00:00-05:00  13.804920  13.842131  13.760268  13.790037
  2013-02-19 00:00:00-05:00  13.886785  14.258885  13.857017  14.251443
  2013-02-20 00:00:00-05:00  14.281212  14.325864  14.035626  14.057951
  2013-02-21 00:00:00-05:00  14.020742  14.072836  13.864459  13.909112
  2013-02-22 00:00:00-05:00  13.894228  14.139814  13.886785  14.065393
  ...                              ...        ...        ...        ...
  2023-02-08 00:00:00-05:00  95.019997  95.940002  94.230003  94.279999
  2023-02-09 00:00:00-05:00  96.000000  98.570000  95.620003  96.690002
  2023-02-10 00:00:00-05:00  95.949997  96.500000  94.250000  95.370003
  2023-02-13 00:00:00-05:00  95.470001  96.389999  94.910004  96.110001
  2023-02-14 00:00:00-05:00  95.820000  98.989998  95.220001  97.959999

                               Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00   5266400        0.0           0.0
  2013-02-19 00:00:00-05:00  11089400        0.0           0.0
  2013-02-20 00:00:00-05:00   9250100        0.0           0.0
  2013-02-21 00:00:00-05:00   7048100        0.0           0.0
  2013-02-22 00:00:00-05:00   8572300        0.0           0.0
  ...                             ...        ...           ...
  2023-02-08 00:00:00-05:00  12899700        0.0           0.0
  2023-02-09 00:00:00-05:00  16997400        0.0           0.0
  2023-02-10 00:00:00-05:00  11506200        0.0           0.0
  2023-02-13 00:00:00-05:00   7803500        0.0           0.0
  2023-02-14 00:00:00-05:00  15021100        0.0           0.0

  [2517 rows x 7 columns],
  'META':                                  Open        High         Low       Close  \
  Date
  2013-02-15 00:00:00-05:00   28.520000   28.750000   28.090000   28.320000
  2013-02-19 00:00:00-05:00   28.230000   29.080000   28.120001   28.930000
  2013-02-20 00:00:00-05:00   28.920000   29.049999   28.330000   28.459999
  2013-02-21 00:00:00-05:00   28.280001   28.549999   27.150000   27.280001
  2013-02-22 00:00:00-05:00   27.620001   27.629999   26.820000   27.129999
  ...                               ...         ...         ...         ...
  2023-02-08 00:00:00-05:00  190.000000  190.830002  182.919998  183.429993
  2023-02-09 00:00:00-05:00  186.130005  186.649994  177.270004  177.919998
  2023-02-10 00:00:00-05:00  176.350006  178.889999  173.350006  174.149994
  2023-02-13 00:00:00-05:00  178.220001  181.000000  175.820007  179.429993
  2023-02-14 00:00:00-05:00  177.160004  181.509995  175.880005  179.479996

                               Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00  33109300        0.0           0.0
  2013-02-19 00:00:00-05:00  49396400        0.0           0.0
  2013-02-20 00:00:00-05:00  42098200        0.0           0.0
  2013-02-21 00:00:00-05:00  49642300        0.0           0.0
  2013-02-22 00:00:00-05:00  36350200        0.0           0.0
  ...                             ...        ...           ...
  2023-02-08 00:00:00-05:00  36139100        0.0           0.0
  2023-02-09 00:00:00-05:00  37118800        0.0           0.0
  2023-02-10 00:00:00-05:00  33413200        0.0           0.0
  2023-02-13 00:00:00-05:00  31463200        0.0           0.0
  2023-02-14 00:00:00-05:00  24009000        0.0           0.0

  [2517 rows x 7 columns],
  'XOM':                                  Open        High         Low       Close  \
  Date
  2013-02-15 00:00:00-05:00   57.916548   57.942705   57.413042   57.779228
  2013-02-19 00:00:00-05:00   57.896909   58.465810   57.792282   58.406956
  2013-02-20 00:00:00-05:00   58.289271   58.733928   58.132335   58.178108
  2013-02-21 00:00:00-05:00   58.060376   58.210772   57.779196   57.929592
  2013-02-22 00:00:00-05:00   58.210761   58.380778   57.805342   58.328465
  ...                               ...         ...         ...         ...
  2023-02-08 00:00:00-05:00  114.171463  114.945506  112.980622  113.050087
  2023-02-09 00:00:00-05:00  113.744749  115.352374  113.308107  113.476807
  2023-02-10 00:00:00-05:00  115.620318  118.716489  115.272992  118.260002
  2023-02-13 00:00:00-05:00  117.720001  118.180000  115.900002  117.800003
  2023-02-14 00:00:00-05:00  117.010002  117.809998  116.019997  116.419998

                               Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00  15696900       0.00           0.0
  2013-02-19 00:00:00-05:00  12158900       0.00           0.0
  2013-02-20 00:00:00-05:00  13936400       0.00           0.0
  2013-02-21 00:00:00-05:00  10939800       0.00           0.0
  2013-02-22 00:00:00-05:00  10260200       0.00           0.0
  ...                             ...        ...           ...
  2023-02-08 00:00:00-05:00  18459700       0.00           0.0
  2023-02-09 00:00:00-05:00  17439300       0.00           0.0
  2023-02-10 00:00:00-05:00  24910100       0.00           0.0
  2023-02-13 00:00:00-05:00  14536200       0.91           0.0
  2023-02-14 00:00:00-05:00  12073700       0.00           0.0

  [2517 rows x 7 columns],
  'LAC':                                 Open       High        Low      Close  \
  Date
  2013-02-15 00:00:00-05:00   0.900000   1.000000   0.850000   0.900000
  2013-02-19 00:00:00-05:00   0.900000   1.000000   0.850000   0.900000
  2013-02-20 00:00:00-05:00   0.900000   0.950000   0.850000   0.850000
  2013-02-21 00:00:00-05:00   0.900000   0.900000   0.800000   0.900000
  2013-02-22 00:00:00-05:00   0.900000   0.900000   0.800000   0.850000
  ...                              ...        ...        ...        ...
  2023-02-08 00:00:00-05:00  25.799999  26.639999  25.500000  25.540001
  2023-02-09 00:00:00-05:00  26.020000  26.959999  25.610001  25.799999
  2023-02-10 00:00:00-05:00  25.820000  25.850000  24.190001  24.549999
  2023-02-13 00:00:00-05:00  24.610001  24.690001  24.080000  24.129999
  2023-02-14 00:00:00-05:00  24.160000  25.150000  24.080000  24.879999

                              Volume  Dividends  Stock Splits
  Date
  2013-02-15 00:00:00-05:00     6560        0.0           0.0
  2013-02-19 00:00:00-05:00    30340        0.0           0.0
  2013-02-20 00:00:00-05:00     8940        0.0           0.0
  2013-02-21 00:00:00-05:00    16660        0.0           0.0
  2013-02-22 00:00:00-05:00     6800        0.0           0.0
  ...                            ...        ...           ...
  2023-02-08 00:00:00-05:00  3180200        0.0           0.0
  2023-02-09 00:00:00-05:00  4245100        0.0           0.0
  2023-02-10 00:00:00-05:00  3327300        0.0           0.0
  2023-02-13 00:00:00-05:00  1960700        0.0           0.0
  2023-02-14 00:00:00-05:00  2408700        0.0           0.0

  [2517 rows x 7 columns]}}

In [39]:
# Create a data frame for each asset class with the close column
# Access the 'Close' column of the data for each asset class
# Extract the values of the data dictionary and then access the 'Close' column of each dataframe. 
df_stocks = pd.DataFrame({ticker: data['stocks'][ticker]['Close'] for ticker in api_pull['stocks']})
df_stocks

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-15 00:00:00-05:00,13.254500,14.193981,2.469333,19.842093,2.939590,23.096268,13.790037,28.320000,57.779228,0.900000
2013-02-19 00:00:00-05:00,13.487500,14.188738,2.618667,20.191441,2.900334,23.320744,14.251443,28.930000,58.406956,0.900000
2013-02-20 00:00:00-05:00,13.320500,13.845119,2.569333,19.831331,2.858769,23.171091,14.057951,28.459999,58.178108,0.850000
2013-02-21 00:00:00-05:00,13.297000,13.759058,2.344000,19.908157,2.837986,22.855164,13.909112,27.280001,57.929592,0.900000
2013-02-22 00:00:00-05:00,13.271000,13.905575,2.407333,20.012762,2.891097,23.079643,14.065393,27.129999,58.328465,0.850000
...,...,...,...,...,...,...,...,...,...,...
2023-02-08 00:00:00-05:00,100.050003,151.688400,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.050087,25.540001
2023-02-09 00:00:00-05:00,98.239998,150.639999,207.320007,95.010002,223.369995,263.619995,96.690002,177.919998,113.476807,25.799999
2023-02-10 00:00:00-05:00,97.610001,151.009995,196.889999,94.570000,212.649994,263.100006,95.370003,174.149994,118.260002,24.549999
2023-02-13 00:00:00-05:00,99.540001,153.850006,194.639999,94.610001,217.880005,271.320007,96.110001,179.429993,117.800003,24.129999
2023-02-14 00:00:00-05:00,99.699997,153.199997,209.250000,94.680000,229.710007,272.170013,97.959999,179.479996,116.419998,24.879999

In [40]:
# Replace all the NaN values in a data frame using the fillna() method. Create a copy of the data frames.

In [41]:

df_stocks = df_stocks.fillna(method='ffill')
df_stocks

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-15 00:00:00-05:00,13.254500,14.193981,2.469333,19.842093,2.939590,23.096268,13.790037,28.320000,57.779228,0.900000
2013-02-19 00:00:00-05:00,13.487500,14.188738,2.618667,20.191441,2.900334,23.320744,14.251443,28.930000,58.406956,0.900000
2013-02-20 00:00:00-05:00,13.320500,13.845119,2.569333,19.831331,2.858769,23.171091,14.057951,28.459999,58.178108,0.850000
2013-02-21 00:00:00-05:00,13.297000,13.759058,2.344000,19.908157,2.837986,22.855164,13.909112,27.280001,57.929592,0.900000
2013-02-22 00:00:00-05:00,13.271000,13.905575,2.407333,20.012762,2.891097,23.079643,14.065393,27.129999,58.328465,0.850000
...,...,...,...,...,...,...,...,...,...,...
2023-02-08 00:00:00-05:00,100.050003,151.688400,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.050087,25.540001
2023-02-09 00:00:00-05:00,98.239998,150.639999,207.320007,95.010002,223.369995,263.619995,96.690002,177.919998,113.476807,25.799999
2023-02-10 00:00:00-05:00,97.610001,151.009995,196.889999,94.570000,212.649994,263.100006,95.370003,174.149994,118.260002,24.549999
2023-02-13 00:00:00-05:00,99.540001,153.850006,194.639999,94.610001,217.880005,271.320007,96.110001,179.429993,117.800003,24.129999
2023-02-14 00:00:00-05:00,99.699997,153.199997,209.250000,94.680000,229.710007,272.170013,97.959999,179.479996,116.419998,24.879999

In [42]:
# Review first and last 10 rows for stocks assets class
display(df_stocks.head(10))
df_stocks.tail(10)

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-15 00:00:00-05:00,13.2545,14.193981,2.469333,19.842093,2.939590,23.096268,13.790037,28.320000,57.779228,0.90
2013-02-19 00:00:00-05:00,13.4875,14.188738,2.618667,20.191441,2.900334,23.320744,14.251443,28.930000,58.406956,0.90
2013-02-20 00:00:00-05:00,13.3205,13.845119,2.569333,19.831331,2.858769,23.171091,14.057951,28.459999,58.178108,0.85
2013-02-21 00:00:00-05:00,13.2970,13.759058,2.344000,19.908157,2.837986,22.855164,13.909112,27.280001,57.929592,0.90
2013-02-22 00:00:00-05:00,13.2710,13.905575,2.407333,20.012762,2.891097,23.079643,14.065393,27.129999,58.328465,0.85
2013-02-25 00:00:00-05:00,12.9935,13.658502,2.292000,19.789040,2.840295,22.755398,13.581662,27.270000,57.347622,0.85
2013-02-26 00:00:00-05:00,12.9680,13.848823,2.295333,19.773024,2.873984,22.755398,13.254213,27.389999,57.877285,0.90
2013-02-27 00:00:00-05:00,13.1625,13.713098,2.340000,20.014515,2.927421,23.121204,13.529571,26.870001,58.544270,0.90
2013-02-28 00:00:00-05:00,13.2135,13.615319,2.322000,20.050051,2.941360,23.112894,13.581662,27.250000,58.557343,0.85
2013-03-01 00:00:00-05:00,13.2870,13.278171,2.310000,20.174925,2.952978,23.237610,13.581662,27.780001,58.478867,0.80

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2023-02-01 00:00:00-05:00,105.150002,145.208282,181.410004,100.430000,209.429993,252.750000,94.739998,153.119995,113.863831,24.700001
2023-02-02 00:00:00-05:00,112.910004,150.590088,188.270004,107.739998,217.089996,264.600006,96.650002,188.770004,110.301247,24.959999
2023-02-03 00:00:00-05:00,103.389999,154.264465,189.979996,104.779999,211.000000,258.350006,94.660004,186.529999,111.065361,24.320000
2023-02-06 00:00:00-05:00,102.180000,151.498688,194.759995,102.900002,210.889999,256.769989,91.830002,186.059998,110.876816,23.459999
2023-02-07 00:00:00-05:00,102.110001,154.414230,196.809998,107.639999,221.729996,267.559998,94.550003,191.619995,114.042458,25.889999
2023-02-08 00:00:00-05:00,100.050003,151.688400,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.050087,25.540001
2023-02-09 00:00:00-05:00,98.239998,150.639999,207.320007,95.010002,223.369995,263.619995,96.690002,177.919998,113.476807,25.799999
2023-02-10 00:00:00-05:00,97.610001,151.009995,196.889999,94.570000,212.649994,263.100006,95.370003,174.149994,118.260002,24.549999
2023-02-13 00:00:00-05:00,99.540001,153.850006,194.639999,94.610001,217.880005,271.320007,96.110001,179.429993,117.800003,24.129999
2023-02-14 00:00:00-05:00,99.699997,153.199997,209.250000,94.680000,229.710007,272.170013,97.959999,179.479996,116.419998,24.879999

In [43]:
#Run montecarlo model

In [44]:
df_stocks.index = pd.to_datetime(df_stocks.index)
df_stocks.index = df_stocks.index.tz_convert('UTC')

In [45]:
portfolio_data = pd.concat([df_stocks], axis=1)
# pd.merge(df1,df2, how='inner') ⭐️used to merge assets when ready⭐️
portfolio_data

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-15 05:00:00+00:00,13.254500,14.193981,2.469333,19.842093,2.939590,23.096268,13.790037,28.320000,57.779228,0.900000
2013-02-19 05:00:00+00:00,13.487500,14.188738,2.618667,20.191441,2.900334,23.320744,14.251443,28.930000,58.406956,0.900000
2013-02-20 05:00:00+00:00,13.320500,13.845119,2.569333,19.831331,2.858769,23.171091,14.057951,28.459999,58.178108,0.850000
2013-02-21 05:00:00+00:00,13.297000,13.759058,2.344000,19.908157,2.837986,22.855164,13.909112,27.280001,57.929592,0.900000
2013-02-22 05:00:00+00:00,13.271000,13.905575,2.407333,20.012762,2.891097,23.079643,14.065393,27.129999,58.328465,0.850000
...,...,...,...,...,...,...,...,...,...,...
2023-02-08 05:00:00+00:00,100.050003,151.688400,201.289993,99.370003,222.050003,266.730011,94.279999,183.429993,113.050087,25.540001
2023-02-09 05:00:00+00:00,98.239998,150.639999,207.320007,95.010002,223.369995,263.619995,96.690002,177.919998,113.476807,25.799999
2023-02-10 05:00:00+00:00,97.610001,151.009995,196.889999,94.570000,212.649994,263.100006,95.370003,174.149994,118.260002,24.549999
2023-02-13 05:00:00+00:00,99.540001,153.850006,194.639999,94.610001,217.880005,271.320007,96.110001,179.429993,117.800003,24.129999
2023-02-14 05:00:00+00:00,99.699997,153.199997,209.250000,94.680000,229.710007,272.170013,97.959999,179.479996,116.419998,24.879999

In [46]:
# portfolio_data = portfolio_data.fillna(method='ffill')

In [47]:
portfolio_data_daily_ret = portfolio_data.pct_change(1).dropna()
portfolio_data_daily_ret.head()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-19 05:00:00+00:00,0.017579,-0.000369,0.060475,0.017606,-0.013354,0.009719,0.033459,0.021540,0.010864,0.000000
2013-02-20 05:00:00+00:00,-0.012382,-0.024218,-0.018839,-0.017835,-0.014331,-0.006417,-0.013577,-0.016246,-0.003918,-0.055556
2013-02-21 05:00:00+00:00,-0.001764,-0.006216,-0.087701,0.003874,-0.007270,-0.013635,-0.010588,-0.041462,-0.004272,0.058823
2013-02-22 05:00:00+00:00,-0.001955,0.010649,0.027019,0.005254,0.018714,0.009822,0.011236,-0.005499,0.006885,-0.055556
2013-02-25 05:00:00+00:00,-0.020910,-0.017768,-0.047909,-0.011179,-0.017572,-0.014049,-0.034392,0.005160,-0.016816,0.000000

In [48]:
# ## Prepare the data for Monte Carlo simulation
# returns = portfolio_data.pct_change() #Calculate returns for each asset
# mean_return = returns.mean()
# cov_matrix = returns.cov()

In [49]:
mean_daily_ret = portfolio_data.pct_change(1).mean()
mean_daily_ret

AMZN     0.001015
AAPL     0.001110
TSLA     0.002425
GOOGL    0.000770
NVDA     0.002127
MSFT     0.001128
TSM      0.000954
META     0.001033
XOM      0.000422
LAC      0.003098
dtype: float64

In [50]:
portfolio_data.pct_change(1).corr()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
AMZN,1.000000,0.521288,0.372859,0.637829,0.507242,0.602369,0.416758,0.546470,0.218831,0.144152
AAPL,0.521288,1.000000,0.378102,0.583418,0.545723,0.636630,0.509078,0.488949,0.317472,0.166787
TSLA,0.372859,0.378102,1.000000,0.358768,0.394232,0.374884,0.346544,0.313860,0.188127,0.198785
GOOGL,0.637829,0.583418,0.358768,1.000000,0.549046,0.698744,0.491980,0.605292,0.339363,0.165272
NVDA,0.507242,0.545723,0.394232,0.549046,1.000000,0.594008,0.555502,0.456750,0.258575,0.214997
MSFT,0.602369,0.636630,0.374884,0.698744,0.594008,1.000000,0.502283,0.515123,0.328713,0.185357
TSM,0.416758,0.509078,0.346544,0.491980,0.555502,0.502283,1.000000,0.369257,0.330892,0.199576
META,0.546470,0.488949,0.313860,0.605292,0.456750,0.515123,0.369257,1.000000,0.204928,0.164239
XOM,0.218831,0.317472,0.188127,0.339363,0.258575,0.328713,0.330892,0.204928,1.000000,0.171717
LAC,0.144152,0.166787,0.198785,0.165272,0.214997,0.185357,0.199576,0.164239,0.171717,1.000000

In [51]:
portfolio_data.head()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-15 05:00:00+00:00,13.2545,14.193981,2.469333,19.842093,2.939590,23.096268,13.790037,28.320000,57.779228,0.90
2013-02-19 05:00:00+00:00,13.4875,14.188738,2.618667,20.191441,2.900334,23.320744,14.251443,28.930000,58.406956,0.90
2013-02-20 05:00:00+00:00,13.3205,13.845119,2.569333,19.831331,2.858769,23.171091,14.057951,28.459999,58.178108,0.85
2013-02-21 05:00:00+00:00,13.2970,13.759058,2.344000,19.908157,2.837986,22.855164,13.909112,27.280001,57.929592,0.90
2013-02-22 05:00:00+00:00,13.2710,13.905575,2.407333,20.012762,2.891097,23.079643,14.065393,27.129999,58.328465,0.85

In [52]:
log_ret = np.log(portfolio_data/portfolio_data.shift(1)).dropna()
log_ret.head()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
Date,,,,,,,,,,
2013-02-19 05:00:00+00:00,0.017426,-0.000369,0.058717,0.017453,-0.013444,0.009672,0.032912,0.021311,0.010806,0.000000
2013-02-20 05:00:00+00:00,-0.012459,-0.024516,-0.019019,-0.017996,-0.014435,-0.006438,-0.013670,-0.016380,-0.003926,-0.057158
2013-02-21 05:00:00+00:00,-0.001766,-0.006235,-0.091787,0.003866,-0.007297,-0.013728,-0.010644,-0.042346,-0.004281,0.057158
2013-02-22 05:00:00+00:00,-0.001957,0.010592,0.026661,0.005241,0.018541,0.009774,0.011173,-0.005514,0.006862,-0.057158
2013-02-25 05:00:00+00:00,-0.021132,-0.017928,-0.049095,-0.011242,-0.017728,-0.014149,-0.034997,0.005147,-0.016959,0.000000

In [53]:
log_ret.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AMZN,2516.0,0.000802,0.020621,-0.151398,-0.008602,0.001103,0.011119,0.132178
AAPL,2516.0,0.000946,0.018120,-0.137708,-0.007428,0.000922,0.010331,0.113157
TSLA,2516.0,0.001765,0.036257,-0.236518,-0.015070,0.001427,0.019072,0.218292
GOOGL,2516.0,0.000621,0.017225,-0.123685,-0.007116,0.000784,0.009130,0.150645
NVDA,2516.0,0.001732,0.028007,-0.207712,-0.010817,0.002043,0.015054,0.260876
MSFT,2516.0,0.000980,0.017170,-0.159454,-0.006587,0.000838,0.009546,0.132929
TSM,2516.0,0.000779,0.018685,-0.151219,-0.009008,0.000762,0.010566,0.119135
META,2516.0,0.000734,0.024523,-0.306391,-0.009663,0.001040,0.012437,0.259371
XOM,2516.0,0.000278,0.016973,-0.130391,-0.007434,0.000113,0.008150,0.119442
LAC,2516.0,0.001319,0.057991,-0.788457,-0.028055,0.000000,0.028372,1.076139

In [54]:
# Compute pairwise covariance of columns
log_ret.cov()

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
AMZN,0.000425,0.000195,0.000283,0.000228,0.000298,0.000213,0.000162,0.000278,0.000078,0.000200
AAPL,0.000195,0.000328,0.000253,0.000184,0.000280,0.000199,0.000173,0.000218,0.000099,0.000211
TSLA,0.000283,0.000253,0.001315,0.000228,0.000409,0.000237,0.000239,0.000283,0.000120,0.000476
GOOGL,0.000228,0.000184,0.000228,0.000297,0.000269,0.000208,0.000160,0.000256,0.000100,0.000192
NVDA,0.000298,0.000280,0.000409,0.000269,0.000784,0.000289,0.000294,0.000317,0.000126,0.000399
MSFT,0.000213,0.000199,0.000237,0.000208,0.000289,0.000295,0.000162,0.000218,0.000097,0.000210
TSM,0.000162,0.000173,0.000239,0.000160,0.000294,0.000162,0.000349,0.000170,0.000106,0.000243
META,0.000278,0.000218,0.000283,0.000256,0.000317,0.000218,0.000170,0.000601,0.000086,0.000272
XOM,0.000078,0.000099,0.000120,0.000100,0.000126,0.000097,0.000106,0.000086,0.000288,0.000193
LAC,0.000200,0.000211,0.000476,0.000192,0.000399,0.000210,0.000243,0.000272,0.000193,0.003363

In [55]:
log_ret.cov()*252 # multiply by days

,AMZN,AAPL,TSLA,GOOGL,NVDA,MSFT,TSM,META,XOM,LAC
AMZN,0.107162,0.049256,0.071219,0.057361,0.075027,0.053644,0.040741,0.069939,0.019641,0.050371
AAPL,0.049256,0.082742,0.063726,0.046248,0.070591,0.050048,0.043711,0.054849,0.024958,0.053273
TSLA,0.071219,0.063726,0.331277,0.057561,0.102977,0.059818,0.060143,0.071408,0.030121,0.119940
GOOGL,0.057361,0.046248,0.057561,0.074767,0.067874,0.052393,0.040263,0.064613,0.025325,0.048285
NVDA,0.075027,0.070591,0.102977,0.067874,0.197664,0.072822,0.074192,0.080006,0.031631,0.100572
MSFT,0.053644,0.050048,0.059818,0.052393,0.072822,0.074291,0.040862,0.054922,0.024483,0.052878
TSM,0.040741,0.043711,0.060143,0.040263,0.074192,0.040862,0.087984,0.042933,0.026681,0.061141
META,0.069939,0.054849,0.071408,0.064613,0.080006,0.054922,0.042933,0.151544,0.021779,0.068665
XOM,0.019641,0.024958,0.030121,0.025325,0.031631,0.024483,0.026681,0.021779,0.072596,0.048698
LAC,0.050371,0.053273,0.119940,0.048285,0.100572,0.052878,0.061141,0.068665,0.048698,0.847464

In [56]:
# Set seed (optional)
np.random.seed(101)

# Stock Columns
print('portfolio_data')
print(portfolio_data.columns)
print('\n')

# Create Random Weights
print('Creating Random Weights')
weights = np.array(np.random.random(10))
print(weights)
print('\n')

# Rebalance Weights
print('Rebalance to sum to 1.0')
weights = weights / np.sum(weights)
print(weights)
print('\n')
# log_ret.mean()
# Expected Return
print('Expected Portfolio Return')
exp_ret = np.sum(log_ret.mean() * weights) *252
print(exp_ret)
print('\n')

# Expected Variance
print('Expected Volatility')
exp_vol = np.sqrt(np.dot(weights.T, np.dot(log_ret.cov() * 252, weights)))
print(exp_vol)
print('\n')

# Sharpe Ratio
SR = exp_ret/exp_vol
print('Sharpe Ratio')
print(SR)

portfolio_data
Index(['AMZN', 'AAPL', 'TSLA', 'GOOGL', 'NVDA', 'MSFT', 'TSM', 'META', 'XOM',
       'LAC'],
      dtype='object')


Creating Random Weights
[0.51639863 0.57066759 0.02847423 0.17152166 0.68527698 0.83389686
 0.30696622 0.89361308 0.72154386 0.18993895]


Rebalance to sum to 1.0
[0.10499539 0.11602948 0.00578945 0.03487419 0.13933214 0.16954988
 0.0624131  0.18169153 0.14670601 0.03861884]


Expected Portfolio Return
0.2286072820161348


Expected Volatility
0.24611372786656463


Sharpe Ratio
0.9288684706774208

In [57]:
num_ports = 15000

all_weights = np.zeros((num_ports,len(portfolio_data.columns)))
ret_arr = np.zeros(num_ports)
vol_arr = np.zeros(num_ports)
sharpe_arr = np.zeros(num_ports)

for ind in range(num_ports):

    # Create Random Weights
    weights = np.array(np.random.random(10))

    # Rebalance Weights
    weights = weights / np.sum(weights)
    
    # Save Weights
    all_weights[ind,:] = weights

    # Expected Return
    ret_arr[ind] = np.sum((log_ret.mean() * weights) *252)

    # Expected Variance
    vol_arr[ind] = np.sqrt(np.dot(weights.T, np.dot(log_ret.cov() * 252, weights)))

    # Sharpe Ratio
    sharpe_arr[ind] = ret_arr[ind]/vol_arr[ind]

In [58]:
sharpe_arr.max()

1.0851524067759328

In [59]:
sharpe_arr.argmax()

874

In [60]:
all_weights[874,:]

array([0.05722729, 0.14368187, 0.21128851, 0.02632141, 0.22908986,
       0.1588382 , 0.13608507, 0.00063149, 0.02284941, 0.01398688])

In [61]:
max_sr_ret = ret_arr[874]
max_sr_vol = vol_arr[874]

In [62]:
print(portfolio_data.isna().sum())

AMZN     0
AAPL     0
TSLA     0
GOOGL    0
NVDA     0
MSFT     0
TSM      0
META     0
XOM      0
LAC      0
dtype: int64

In [97]:
# # ⭐️OTHER MONTE CARLO EXAMPLE⭐️

# # Prepare the data for Monte Carlo simulation
# returns = portfolio_data.pct_change() # Calculate returns for each asset
# mean_return = returns.mean()
# cov_matrix = returns.cov()

# # Set the number of simulations and trading days
# num_simulations = 1000
# stocks_n_comodities_num_trading_days = 252*10
# #crypto_num_trading_days = 365

# # Create an empty array to hold the simulation results
# simulation_results = np.zeros((num_simulations, len(portfolio_data.columns)))

# # Loop over the number of simulations
# for i in range(num_simulations):
# #     # Generate random daily returns for each asset
#      daily_returns = np.random.multivariate_normal(mean_return, cov_matrix, stocks_n_comodities_num_trading_days)
#      # Calculate the cumulative returns over the simulation period
#      simulation_returns = (1 + daily_returns).cumprod(axis=0)
#      # Calculate the final portfolio value for each simulation
#      portfolio_values = simulation_returns[-1] * portfolio_data.iloc[-1]
#      # Save the portfolio values for this simulation
#      simulation_results[i, :] = portfolio_values

# # Calculate the mean and standard deviation of the simulation results
# mean_portfolio_values = simulation_results.mean(axis=0)
# std_portfolio_values = simulation_results.std(axis=0)

# # Print the results
# print(f"Expected portfolio value: $", round(mean_portfolio_values.sum(), 2))

In [90]:
eigvals, _ = np.linalg.eig(cov_matrix)
print(eigvals)

[4.66270323e-03 2.11064501e-03 8.21590118e-04 3.95095477e-04
 8.32180186e-05 1.20529511e-04 2.23460107e-04 1.60394803e-04
 1.84391730e-04 2.86911628e-04]

In [91]:
#Ask user how much is the allocation for Equity Allocation
# Check the input 
while True:
    try:
        equity_alloc = int(input('max equity'))
        break
    except:
        print('thats not an integer')

max equity 60

In [92]:
# #Ask user how much is the allocation for Commodity Allocation
# # Check the input 
# while True:
#     try:
#         commodity_alloc = int(input('max commodity'))
#         break
#     except:
#         print('thats not an integer')

In [93]:
# #Ask user how much is the allocation for Crypto Allocation
# # Check the input 
# while True:
#     try:
#         crypto_alloc = int(input('max crypto'))
#         break
#     except:
#         print('thats not an integer')

In [96]:
#Data from 3 assets with their weight amounts
#Limit each equity t0 allocate 10 items 
# assets = {'equity':range(0,equity_alloc,10),'commodity':range(0,commodity_alloc,10),'crypto':range(0,crypto_alloc,10)}
assets = {'equity':range(0,equity_alloc,10)}
assets

{'equity': range(0, 60, 10)}

In [79]:
# #Allowing only 3 cluster of assets 
# kmeans = KMeans(n_clusters=3)

In [80]:
# #Fit the model to the asset data 
# kmeans.fit(assets)

In [ ]:
# Plot vizualization fort the clusters

In [ ]:
# Ru